<div class="sidebarZahoricontent">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>Gestión de Usuarios</div>
            </div>
        </div>
    </div>

    <div class="row ml-1 mb-3  border-bottom">
        <div class="col-2">
            <h6>ID</h6>
        </div>
        <div class="col-2">
            <h6>Nombre</h6>
        </div>
        <div class="col-3">
            <h6>Apellidos</h6>
        </div>
        <div class="col-3">
            <h6>Email</h6>
        </div>
        <div class="col-1">
            <h6></h6>
        </div>
    </div>

    <div class="row ml-1 mb-2">
        <div class="col-2 d-flex">Jose.turegano</div>
        <div class="col-2 d-flex">José</div>
        <div class="col-3 d-flex">Turégano Barbero</div>
        <div class="col-3 d-flex">jose.turegano@panel.es</div>
        <div class="col-1 d-flex">
            <a href="#">
                <i class="fas fa-save mr-2"></i>
            </a>
            <a href="#">
                <i class="fas fa-pen-square mr-2"></i>
            </a>
        </div>
    </div>

    <div class="row ml-1 mb-2">
        <div class="col-2 d-flex">david.vazquez</div>
        <div class="col-2 d-flex">David</div>
        <div class="col-3 d-flex">David Vázquez</div>
        <div class="col-3 d-flex">david.vazquez@panel.es</div>
        <div class="col-1 d-flex">
            <a href="#">
                <i class="fas fa-save mr-2"></i>
            </a>
            <a href="#">
                <i class="fas fa-pen-square mr-2"></i>
            </a>
        </div>
    </div>

    <div class="row ml-1 mb-2">
        <div class="col-2 d-flex">jorge.merino</div>
        <div class="col-2 d-flex">Jorge</div>
        <div class="col-3 d-flex">Jorge Merino</div>
        <div class="col-3 d-flex">jorge.merino@panel.es</div>
        <div class="col-1 d-flex">
            <a href="#">
                <i class="fas fa-save mr-2"></i>
            </a>
            <a href="#">
                <i class="fas fa-pen-square mr-2"></i>
            </a>
        </div>
    </div>

    <div class="row mt-3 pl-1">
        <div class="col-11 text-center mt-3">
            <button class="btn-wide mt-2 btn-icon btn btn-zahoriV btn-sm sidebarGreyCollapse">Nuevo Usuario</button>
        </div>
    </div>

</div>

<div id="sidebarGrey" class="sidebarZahoriGrey  active">

    <div class="drawer-content-wrapperGrey ps ps--active-x ps--active-y">

        <div class="drawer-section">
            <h4>Editar/Crear usuario</h4>
            <div class="row mt-3">
                <div class="col-12">
                    <label for="exampleEmail" class="">ID Usuario</label>
                    <input name="" id="" placeholder="" type="text" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">

                    <label for="exampleEmail" class="">Nombre</label>
                    <input name="" id="" placeholder="" type="text" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">

                    <label for="" class="">Apellidos</label>
                    <input name="" id="" placeholder="" type="text" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label for="" class="">email</label>
                    <input name="" id="" placeholder="" type="text" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label for="" class="">Autenticación</label>
                    <input name="" id="" placeholder="" type="text" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label for="exampleEmail" class="">Clave</label>
                    <input name="" id="" placeholder="" type="text" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label for="exampleEmail" class="">Confirmación</label>
                    <input name="" id="" placeholder="" type="text" class="form-control">
                </div>
            </div>
            <div class="text-center">
                <button class="btn-wide mt-5 btn-icon btn btn-zahoriV btn-sm">
                    Guardar
                </button>
            </div>
        </div>
        
    </div>

</div>