.app-main__inner {
    padding: 30px 30px 0!important;
}

.table thead th, .table tfoot th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
    border-top: none;
}

.table td {
    padding: 0 0 0 0.55rem;
}

td:hover i {
    visibility: visible;
}

.showOnHover:hover .hide {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

a:not([href]) {
    cursor: pointer;
    color: #84986B;
}

i:hover {
    color: #84986B;
}

.tableInput {
    border: 0;
    outline: none;
}

.swal2-validation-message {
    margin: 0;
}

banner {
    margin-top: 15px;
}

.btn-circle {
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle-selector {
    background-color: blue;
    color: azure;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

::ng-deep .ng-select.custom {
    border: none;
    background-color: transparent;
}

::ng-deep .ng-select.custom .ng-select-container {
    border: none;
    background-color: transparent;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    white-space: nowrap;
    background: none;
}