<div class="app-main__inner">

  <banner [banner]="banner" (click)=closeBanner()></banner>

  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div>Casos</div>
        <button type="button" title="Guardar casos" (click)="saveCases()" class="mt-2 ml-5 btn btn-zahoriPill btn-sm">Guardar</button>
      </div>
    </div>
  </div>

  <table class="mb-0 table table-hover" style="width:100%">
    <ng-container *ngIf="!loading && !thereAreActiveCases()">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            Aún no hay casos definidos. <a (click)="createNewCase()"><b>Crear uno</b></a>
          </td>
        </tr>
      </tbody>
    </ng-container>

    <ng-container *ngIf="!loading && thereAreActiveCases()">
      <thead>
        <tr>
          <th><i title="Añadir caso" class="fa fa-plus fa-1" style="cursor: pointer;" (click)="createNewCase()"></i></th>
          <th>Caso</th>
          <th>Etiquetas</th>

          <ng-container *ngFor="let field Of tableData[0] | keyvalue">
            <th *ngIf="isVariableField(field.key)" class="showOnHover">
              {{field.key}}
              <i title="Cambiar nombre" class="fas fa-pen fa-1 hide ml-3" style="cursor: pointer;" (click)="editField(tableData, field.key)"></i>
              <i title="Eliminar campo" class="fa fa-trash fa-1 hide ml-2" style="cursor: pointer;" (click)="removeField(tableData, field.key, fixedFields)"></i>
            </th>
          </ng-container>

          <th><i title="Añadir campo" class="fa fa-plus fa-1" style="cursor: pointer;" (click)="addField(tableData)"></i></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let case of tableData">
          <tr *ngIf="case.active == true" class="showOnHover">
            <td>
              <i class="hide fa fa-trash fa-1" title="Eliminar caso" (click)="removeCase(tableData, case)" style="cursor: pointer;"></i>
            </td>
            <td contenteditable="true" [textContent]="case.name" (input)="case.name = $event.target.textContent"></td>
            <td>
              <span *ngFor="let tag of case.clientTags" class="mr-2">{{tag.name}}</span>
            </td>

            <ng-container *ngFor="let field Of case | keyvalue; trackBy: avoidLosingFocus">
              <td *ngIf="isVariableField(field.key)" contenteditable="true" [textContent]="case[field.key]" (input)="case[field.key] = $event.target.textContent"></td>
            </ng-container>

            <td></td>
          </tr>

        </ng-container>
      </tbody>
    </ng-container>
  </table>

</div>