<style>
  .hidden{
    visibility: hidden;
  }
</style>

<banner [banner]="banner" (click)="closeBanner()"></banner>

<div class="app-main__inner">

  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div>{{'main.process.cases.cases'|translate}}</div>
        <button type="button" title="Guardar casos" (click)="saveCases()" class="mt-2 ml-5 btn btn-zahoriPill btn-sm">{{'main.process.cases.save'|translate}}</button>
      </div>
    </div>
  </div>

  <table class="mb-0 table table-hover" style="width:100%">
    <ng-container *ngIf="!loading && !thereAreActiveCases()">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            {{'main.process.cases.noCases'|translate}} <a (click)="createNewCase()"><b>{{'main.process.cases.createCase'|translate}}</b></a>
          </td>
        </tr>
      </tbody>
    </ng-container>

    <ng-container *ngIf="!loading && thereAreActiveCases()">
      <thead>
        <tr>
          <th><i title="{{'main.process.cases.addCase'|translate}}" class="fa fa-plus fa-1" style="cursor: pointer;" (click)="createNewCase()"></i></th>
          <th>{{'main.process.cases.case'|translate}}</th>
          <th>{{'main.process.cases.tags'|translate}}</th>
          <ng-container *ngFor="let field Of tableData[0] | keyvalue">
            <th *ngIf="isVariableField(field.key)" class="showOnHover">
              {{field.key}}
              <i title="{{'main.process.cases.changeName'|translate}}" class="fas fa-pen fa-1 hide ml-3" style="cursor: pointer;" (click)="editField(tableData, field.key)"></i>
              <i title="{{'main.process.cases.removeField.iconText'|translate}}" class="fa fa-trash fa-1 hide ml-2" style="cursor: pointer;" (click)="removeField(tableData, field.key, fixedFields)"></i>
            </th>
          </ng-container>

          <th><i title="{{'main.process.cases.addField.title'|translate}}" class="fa fa-plus fa-1" style="cursor: pointer;" (click)="addField(tableData)"></i></th>

        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let case of tableData">
          <tr *ngIf="case.active == true" class="showOnHover">
            <td>
              <i class="hide icon fa fa-trash fa-1" title="{{'main.process.cases.removeCase.iconText'|translate}}" (click)="removeCase(tableData, case)" style="cursor: pointer;"></i>
              <i class="hide icon fa fa-copy fa-1" title="{{'main.process.cases.addField.copy'|translate}}" style="cursor: pointer;" (click)="copyCase(case)"></i>
            </td>
            <td contenteditable="true"  [textContent]="case.name" (blur)="case.name = $event.target.textContent"></td>
            <td>
              <ng-select
                [items]="tags"
                class = "custom"
                style= "width: 100px;"
                [clearable] = "false"
                bindLabel="name"
                appendTo="body"
                [multiple]="true"
                [(ngModel)]="case.clientTags">
                  <ng-template ng-label-tmp let-item="item" let-clear="clear" style="border:none">
                    <button  title = {{item.name}} class="btn-circle mt-2" [ngStyle] = "{backgroundColor: item.color, borderColor: item.color}"></button>
                  </ng-template>

                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <button  class="btn-circle mr-2" [ngStyle] = "{backgroundColor: item.color, borderColor: item.color}"></button>
                    {{item.name}}
                  </ng-template>
              </ng-select>
            </td>
            <ng-container *ngFor="let field Of case | keyvalue; trackBy: avoidLosingFocus">
              <td *ngIf="isVariableField(field.key)" contenteditable [textContent]="case[field.key]" (blur)="case[field.key] = $event.target.textContent"></td>
            </ng-container>

            <td></td>
          </tr>
        </ng-container>
      </tbody>
    </ng-container>
  </table>

</div>
