/target
/test-output
/bin
*.class
.project
.classpath
.settings
.idea/
*.iml
*/allure-results/*
*/target/*
/server/database/postgres-data/*
/evidences
/server/selenoid/config/logs/*
/server/selenoid/config/video/*
/src/main/resources/static/*
*~

