.modal {
    margin-top: 100px;
}

.modal-dialog {
    box-shadow: 0px 0px 25px #888888;
}

.modal-content {
    height: calc(100vh - 135px);
}

.modal-body {
    overflow: auto;
}

.modal-maximized {
    max-width: initial;
    width: 98%;
}

.btn-attachment {
    color: #84986B;
    background-color: #d6efb8;
    border: none;
    border-radius: 50px;
}

.scroll-area {
    height: calc(100vh - 107px)!important;
    position: fixed!important;
    overflow-y: auto!important;
    margin-bottom: 120px;
}
.scrollbar-sidebar, .scrollbar-container {
    height: fit-content;
}

.drawer-content-wrapper .drawer-heading {
    font-size: 1.2rem;
    border-bottom: #dee2e6 solid 1px;
    border-top: none;
}

.drawer-section{
    background: #f8f9fa;
    padding: 10px 10px 30px;
}

.drawer-nav-btn {
    top: .12rem;
}

.sidebarZahori {
    margin-top: -11px;
}

.w-99 {
    width: 99%;
}

.step {
    word-break: break-word;
}

