<!-- SIDEBAR - EVIDENCES -->
<div id="sidebarEvidencias" class="sidebarZahori active" *ngIf="caseExecution && caseExecution.caseExecutionId > 0">

    <div class="drawer-content-wrapper">
        <div class="scroll-area">
            <div class="scrollbar-container ps--active-y ps">

                <div class="drawer-nav-btn">
                    <button type="button" (click)="hide()"
                        class="hamburger hamburger--elastic is-active sidebarCollapsed">
                        <span class="hamburger-box"><span class="hamburger-inner"></span></span>
                    </button>
                </div>

                <h3 class="drawer-heading">{{'main.process.caseExecutionDetails.evidences'|translate}}</h3>
                <div class="drawer-section">
                    <div class="scrollbar-container ps">

                        <div>
                            <i title="{{caseExecution.status}}" class="mr-1 fas " [ngClass]="{
                                'fa-check text-success': caseExecution.status  === 'PASSED',
                                'fa-times text-danger': caseExecution.status  === 'FAILED',
                                'fa-exclamation-triangle': caseExecution.status  === 'Not executed',
                                'fa-sync-alt': caseExecution.status  === 'Running'}">
                            </i>
                            <h4 class="titVentana" style="display: inline-block;">{{caseExecution.cas.name}}</h4>
                        </div>

                        <div>
                            <i title="{{caseExecution.browser.browserName}} {{caseExecution.browserVersion}}"
                            class="mr-1 fab fa fa-{{caseExecution.browser.browserName}}"></i>
                            
                            <div class="badge-resolutions btn-zahoriPill-resolutions ml-1 mb-1">
                                <span title="{{caseExecution.screenResolution}}">{{getScreenResolutionName(caseExecution.screenResolution)}}</span>
                            </div>
                        </div>

                        <div class="mb-2 mt-2">
                            <button type="button" (click)="getTextFile(caseExecution.log)"
                                class="mr-2 btn-pill btn btn-zahoriPill btn-sm" data-backdrop="false"
                                data-toggle="modal" data-target="#logModal">{{'main.process.caseExecutionDetails.log'|translate}}</button>

                            <!-- Button trigger log modal -->
                            <button type="button" *ngIf="caseExecution.log" (click)="getCaseExecutions()"
                                class="mr-2 btn-pill btn btn-zahoriPill btn-sm" data-backdrop="false"
                                data-toggle="modal" data-target="#historicalChart">Rendimiento</button>

                            <button *ngIf="caseExecution.doc" (click)="getFile(caseExecution.doc)"
                                class="mr-2 btn-pill btn btn-zahoriPill btn-sm">{{'main.process.caseExecutionDetails.doc'|translate}}</button>
                            
                            <button *ngIf="caseExecution.video" (click)="getFile(caseExecution.video)"
                                class="mr-2 btn-pill btn btn-zahoriPill btn-sm">{{'main.process.caseExecutionDetails.video'|translate}}</button>

                            <!-- Button trigger HAR modal -->
                            <button type="button" *ngIf="caseExecution.har" title="HTTP Archive"
                                (click)="getHarFile(caseExecution.har)"
                                class="mr-2 btn-pill btn btn-zahoriPill btn-sm" data-backdrop="false"
                                data-toggle="modal" data-target="#harModal">{{'main.process.caseExecutionDetails.har'|translate}}</button>
                        </div>

                        <div class="mt-2" *ngFor="let attachment of caseExecution.attachments">
                            <button (click)="getFile(attachment.path)"
                            class="mr-2 btn-pill btn btn-attachment btn-sm">{{getFileName(attachment.path)}}</button>
                        </div>

                        <div *ngIf="downloading" title="Descargando fichero..."
                            class="spinner-border spinner-border-sm text-primary"></div>
                        <span class="sr-only">{{'main.process.caseExecutionDetails.downloadFile'|translate}}</span>

                        <br />

                        <h5>{{'main.process.caseExecutionDetails.stepsExecuted'|translate}}</h5>
                        <div *ngFor="let step of caseExecution.stepsJson; index as i; first as first;">

                            <hr *ngIf="!first">

                            <div class="paso mb-3">
                                <span class="font-weight-bold">
                                    <i title="{{step.status}}" class="fas " [ngClass]="{
                                        'fa-times text-danger': step.status  === 'Failed',
                                        'fa-check text-success': step.status  === 'Passed',
                                        'fa-exclamation-triangle': step.status  === 'Not executed',
                                        'fa-sync-alt': step.status  === 'Running'}">
                                    </i>
                                    {{'main.process.caseExecutionDetails.step'|translate}}&nbsp;{{step.name}}
                                    <span *ngIf="step.duration" class="ml-1">({{step.duration}} {{'main.process.caseExecutionDetails.stepDurationUnit'|translate}})</span>
                                </span>

                                <p>{{step.messageText}}</p>

                                <div *ngFor="let attachment of step.attachments">
                                    <a (click)="viewStepInModal(i)" href="javascript:void(0);" data-backdrop="false"
                                        data-toggle="modal" data-target="#stepsModal">
                                        <img class="w-100" alt="Imagen Evidencia" *ngIf="attachment"
                                            [src]="getAttachmentUrl(attachment) | authImage | async" />
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- Modal - LOG -->
<div id="logModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="logModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" [ngClass]="modalMaximized ? 'modal-maximized' : ''"
        role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modalLongTitle">Log: {{fileName}}</h5>

                <div class="ml-auto">
                    <button type="button" (click)="maximizeModal()" class="btn btn-default" aria-label="Left Align">
                        <span class="far fa-window-maximize fa-lg" style="color: grey;" aria-hidden="true"></span>
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-default" aria-label="Left Align">
                        <span class="fas fa-times fa-lg" style="color: grey;" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <div class="modal-body">
                <p *ngIf="downloading">{{'main.process.caseExecutionDetails.loading'|translate}}</p>
                <!-- LOG -->
                <pre *ngIf="textFileContent">{{textFileContent}}</pre>
            </div>

            <div class="modal-footer">
                <button class="btn-widemr-2 btn-icon btn btn-zahoriV" (click)="downloadFile()">
                    <i class="fa fa-download mr-1 "></i>{{'main.process.caseExecutionDetails.download'|translate}}
                </button>
                <button type="button" class="btn btn-light" data-dismiss="modal">
                  {{'main.process.caseExecutionDetails.close'|translate}}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Steps -->
<div id="stepsModal" *ngIf="caseExecution && caseExecution.cas" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="stepsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" [ngClass]="modalMaximized ? 'modal-maximized' : ''"
        role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    <i title="{{caseExecution.status}}" class="mr-1 fas " [ngClass]="{
                        'fa-check text-success': caseExecution.status  === 'PASSED',
                        'fa-times text-danger': caseExecution.status  === 'FAILED',
                        'fa-exclamation-triangle': caseExecution.status  === 'Not executed',
                        'fa-sync-alt': caseExecution.status  === 'Running'}">
                    </i>
                    <span class="titVentana" style="display: inline-block;">{{caseExecution.cas.name}}</span>
                </h5>

                <span class="my-auto ml-3"> 
                    <i title="{{caseExecution.browser.browserName}} {{caseExecution.browserVersion}}"
                    class="mr-1 fab fa fa-{{caseExecution.browser.browserName}}"></i>
                    <div class="badge-resolutions btn-zahoriPill-resolutions ml-1">
                        <span title="{{caseExecution.screenResolution}}">{{getScreenResolutionName(caseExecution.screenResolution)}}</span>
                    </div>
                </span>
                
                <div class="ml-auto">
                    <button type="button" (click)="maximizeModal()" class="btn btn-default" aria-label="Left Align">
                        <span class="far fa-window-maximize fa-lg" style="color: grey;" aria-hidden="true"></span>
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-default" aria-label="Left Align">
                        <span class="fas fa-times fa-lg" style="color: grey;" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <!-- STEPS -->
            <div class="modal-body">
                <div class="paso mb-3">
                    <ngb-carousel #carousel class="text-center">
                        <ng-container *ngFor="let step of caseExecution.stepsJson; let index = index">
                        <ng-template ngbSlide id="slide-{{index}}">
                            <h5 class="modal-title" id="stepData">
                                <span>
                                    <i title="{{step.status}}" class="fas " [ngClass]="{
                                    'fa-check text-success': step.status  === 'Passed',
                                    'fa-times text-danger': step.status  === 'Failed',
                                    'fa-exclamation-triangle': step.status  === 'Not executed'}">
                                    </i>
                                    {{'main.process.caseExecutionDetails.step'|translate}}&nbsp;{{step.name}}
                                    <span *ngIf="step.duration" class="ml-1">({{step.duration}} {{'main.process.caseExecutionDetails.stepDurationUnit'|translate}})</span>
                                </span>
                            </h5>
                            <div class="paso mb-3">
                            <p>{{step.messageText}}</p>

                            <div #screenshotContainer *ngFor="let attachment of step.attachments" class="text-center">
                                <img style="box-shadow: 0px 0px 5px #888888;" class="{{getWidthFromResolution(caseExecution.screenResolution) >= screenshotContainer.offsetWidth ? 'w-99' : '' }}" alt="Imagen Evidencia" *ngIf="attachment"
                                    [src]="getAttachmentUrl(attachment) | authImage | async" />
                            </div>
                            </div>
                        </ng-template>
                        </ng-container>
                    </ngb-carousel>

                </div>
            </div>

            <!--
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
            </div>
            -->

        </div>
    </div>
</div>

<!-- Modal - HAR -->
<div id="harModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="harModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" [ngClass]="modalMaximized ? 'modal-maximized' : ''"
        role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{'main.process.caseExecutionDetails.httpRequest'|translate}} {{fileName}}</h5>

                <div class="ml-auto">
                    <button type="button" (click)="maximizeModal()" class="btn btn-default" aria-label="Left Align">
                        <span class="far fa-window-maximize fa-lg" style="color: grey;" aria-hidden="true"></span>
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-default" aria-label="Left Align">
                        <span class="fas fa-times fa-lg" style="color: grey;" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <div class="modal-body">
                <p *ngIf="downloading">{{'main.process.caseExecutionDetails.loading'|translate}}</p>
                <div id="HarViewer"></div>
            </div>

            <div class="modal-footer">
                <button class="btn-widemr-2 btn-icon btn btn-zahoriV" (click)="downloadFile()">
                    <i class="fa fa-download mr-1 "></i>{{'main.process.caseExecutionDetails.download'|translate}}
                </button>
                <button type="button" class="btn btn-light" data-dismiss="modal">{{'main.process.caseExecutionDetails.close'|translate}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Historical case execution chart -->
<div *ngIf="caseExecution" id="historicalChart" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="historicalChart" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" [ngClass]="modalMaximized ? 'modal-maximized' : ''"
        role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modalLongTitle">Rendimiento histórico: {{caseExecution.cas.name}}</h5>

                <div class="ml-auto">
                    <button type="button" (click)="maximizeModal()" class="btn btn-default" aria-label="Left Align">
                        <span class="far fa-window-maximize fa-lg" style="color: grey;" aria-hidden="true"></span>
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-default" aria-label="Left Align">
                        <span class="fas fa-times fa-lg" style="color: grey;" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <div class="modal-body">
                <div id="historicalCaseExecutionChart">
                    <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [xaxis]="chartOptions.xaxis"
                      [dataLabels]="chartOptions.dataLabels"
                      [yaxis]="chartOptions.yaxis"
                      [colors]="chartOptions.colors"
                      [legend]="chartOptions.legend"
                      [fill]="chartOptions.fill"
                    ></apx-chart>
                  </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">
                  {{'main.process.caseExecutionDetails.close'|translate}}
                </button>
            </div>
        </div>
    </div>
</div>
