<banner [banner]="banner" (click)="initBanner()"></banner>

<div class="sidebarZahoricontent">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>{{'main.account.changePassword.title'| translate}}</div>
            </div>
        </div>
    </div>

    <div class="row mt-3  form-group">
        <div class="col-4">
            <label for="currentPassword">{{'main.account.changePassword.currentPassword'| translate}}</label>
            <input [(ngModel)]="currentPassword" id="currentPassword" type="password" class="form-control">
        </div>
    </div>

    <div class="row mt-3 form-group">
        <div class="col-4">
            <label for="newPassword">{{'main.account.changePassword.newPassword'| translate}}</label>
            <input [(ngModel)]="newPassword" id="newPassword"  type="password" class="form-control">
        </div>
    </div>

    <div class="row mt-3 form-group">
        <div class="col-4">
            <label for="confirmPassword">{{'main.account.changePassword.confirmPassword'| translate}}</label>
            <input [(ngModel)]="confirmPassword" id="confirmPassword" type="password" class="form-control">
        </div>
    </div>

    <div>
        <button class="mt-3 btn-wide btn-icon btn btn-zahoriV btn-sm" (click)="changePassword()">
            {{'main.account.changePassword.confirmButton'| translate}}
        </button>
    </div>

</div>