<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>{{'main.process.scheduler.title'|translate}}</div>
            </div>
        </div>
    </div>

    <table class="mb-0 table">
        <thead>
            <tr>
                <th>{{'main.process.scheduler.active'|translate}}</th>
                <th>{{'main.process.scheduler.name'|translate}}</th>
                <th>{{'main.process.scheduler.time'|translate}} </th>
                <th>{{'main.process.scheduler.days'|translate}} </th>
                <th>{{'main.process.scheduler.cases'|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="executions.length == 0">
                <td class="text-center" colspan="5">{{'main.process.scheduler.noSchedules'|translate}} <a
                        routerLink="../trigger"><strong>{{'main.process.scheduler.noSchedulesAction'|translate}}</strong></a>
                </td>
            </tr>
            <tr *ngFor="let execution of executions; index as indexExecution; last as lastExecution;">
                <td>
                    <div class="ml-2 custom-control custom-switch">
                        <input type="checkbox" [(ngModel)]="execution.periodicExecutions[0].active"
                            name="periodicExecution-{{execution.periodicExecutions[0].periodicExecutionId}}"
                            id="periodicExecution-{{execution.periodicExecutions[0].periodicExecutionId}}"
                            [checked]="execution.periodicExecutions[0].active"
                            [value]="execution.periodicExecutions[0].periodicExecutionId" class="custom-control-input"
                            (change)="onCaseSelection(periodicExecution)">

                        <label for="periodicExecution-{{execution.periodicExecutions[0].periodicExecutionId}}"
                            class="custom-control-label"></label>
                    </div>
                </td>
                <td>
                    <input name="execution-{{indexExecution}}.name" id="execution-{{indexExecution}}.name"
                        type="text" class="form-control" [(ngModel)]="execution.name">
                </td>
                <td>
                    <input name="time" id="periodicTime" placeholder="{{'main.process.trigger.time'|translate}}"
                        type="time" class="form-control" [(ngModel)]="execution.periodicExecutions[0].time">
                </td>
                <td>
                    <ng-multiselect-dropdown id="periodicExecution-{{indexExecution}}-days" [settings]="dropdownSettings"
                        [data]="periodicWeekdays" [placeholder]="selectWeekdaysPlaceholder"
                        [(ngModel)]="execution.periodicExecutions[0].daysArray" name="periodicExecution-{{indexExecution}}-days">
                    </ng-multiselect-dropdown>
                </td>
                <td>
                    <ng-container *ngFor="let caseName of getCaseList(execution); let i = index">
                        <button *ngIf="i < 20" class="mr-2 btn-pill btn btn-light disabled btn-sm">
                            {{caseName}}
                        </button>
                        <button *ngIf="i == 20" title="más casos..."
                            class="mr-2 btn-pill btn btn-light disabled btn-sm">...</button>
                    </ng-container>
                </td>
                {{execution.periodicExecutions[0]|json}}
            </tr>
        </tbody>
    </table>

    <button class="btn-wide  btn-icon btn btn-zahoriAz btn-sm" (click)="savePeriodicExecutions()">Guardar</button>

</div>