<banner [banner]="banner"(click) = closeBanner()></banner>

<div class="sidebarZahoricontent">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>Gestión de entornos</div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-4">
            <label for="name" class="">Nombre</label>
        </div>
        <div class="col-6">
            <label for="url" class="">Url</label>
        </div>
    </div>
    
    <div>
        <environment id="test" *ngFor ="let env of envs" [environment] = env (updated) = updateEnv($event) env (deleted) = deleteEnv($event)></environment>
        <environment id = "newTests" *ngFor = "let newEnv of myEnvs" [environment] = newEnv (created) = createEnv($event) env (erased) = deleteFromArray($event)></environment>
    </div>
    
    
    <div class="col-8 text-center mt-3">
        <button class="btn-wide mt-2 btn-icon btn btn-zahoriV btn-sm" (click) = newEnv()>
            <div>
                Añadir entorno
            </div>          
        </button>
        
        
        <ng-template #hiderow>
            Ocultar
        </ng-template>
    </div>

</div>