<ul class="mt-4 vertical-nav-menu metismenu">
  <li>
    <a routerLink="environments" routerLinkActive="mm-active">
      <i class="metismenu-icon  fas fa-desktop"></i>{{'main.process.processAdmin.menu.environments'|translate}}
    </a>
  </li>

  <li>
    <a routerLink="tags" routerLinkActive="mm-active">
      <i class="metismenu-icon  fas fa-tags"></i>{{'main.process.processAdmin.menu.tags'|translate}}
    </a>
  </li>
  <li>
    <a routerLink="resolutions" routerLinkActive="mm-active">
      <i class="metismenu-icon  fas fa-external-link-alt"></i>{{'main.process.processAdmin.menu.resolutions'|translate}}
    </a>
  </li>
</ul>
