<boot-alert
      [alert]="alert"
      (click) = closeAlert()>
</boot-alert>

<div class="sidebarZahoricontent">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>Gestión de entornos</div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-4">
            <label for="name" class="">Nombre</label>
        </div>
        <div class="col-6">
            <label for="url" class="">Url</label>
        </div>
    </div>
    
    <environment id="test" *ngFor ="let env of envs" [environment] = env (updated) = updateEnv($event) env (deleted) = deleteEnv($event)></environment>
    <environment [environment] = myenvironment (created) = createEnv($event)></environment>

</div>