<style>
  .error{
    border-color: rgb(255, 72, 0);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255, 81, 0, 0.966);
    outline: 0 none;
  }
</style>

<div class="row mt-2">
  <div class="col-4">
    <input #textInputId
           [class.error] = "(name.invalid ) && submitted"
           ngModel name="name"
           #name="ngModel"
           id="name"
           placeholder="{{'main.process.processAdmin.resolutions.resolution.insertName'|translate}}"
           type="text"
           class="form-control"
           [(ngModel)] = "resolution.name">
  </div>
  <div class="col-3">
    <input #textInputId
           [class.error] = "(name.invalid ) && submitted"
           ngModel name="width"
           #name="ngModel"
           id="width"
           placeholder="{{'main.process.processAdmin.resolutions.resolution.insertWidth'|translate}}"
           type="text"
           class="form-control"
           [(ngModel)] = "resolution.width"
           required>
  </div>
  <div class="col-3">
    <input #textInputUrl
           [class.error] = "url.invalid && submitted"
           ngModel name="height"
           #url="ngModel"
           id="heigth"
           placeholder="{{'main.process.processAdmin.resolutions.resolution.insertHeight'|translate}}"
           type="text"
           class="form-control"
           [(ngModel)] = "resolution.height"
           required>
  </div>

  <div class="col-2 mt-1">
    <ng-container *ngIf= "!isNew(resolution); else newRes">
      <button class="btn-wide mb-2 mr-2 btn-icon btn btn-zahoriV btn-sm" (click)="updateEnv(resolution)" title="{{'main.process.processAdmin.resolutions.resolution.save'|translate}}">
        <i class="fas fa-save"></i>
      </button>
      <button class="btn-wide mb-2 mr-2 btn-icon btn btn-zahoriAz btn-sm" (click)="deleteEnv(resolution)" title="{{'main.process.processAdmin.resolutions.resolution.remove'|translate}}">
        <i class="fas fa-trash"></i>
      </button>
    </ng-container>

    <ng-template #newRes>
      <button class="btn-wide mb-2 mr-2 btn-icon btn btn-zahoriV btn-sm" (click)="createEnv(resolution)" title="{{'main.process.processAdmin.resolutions.resolution.save'|translate}}">
        <i class="fas fa-save"></i>
      </button>
      <button class="btn-wide mb-2 mr-2 btn-icon btn btn-zahoriAz btn-sm" (click)="deleteFromArray(resolution)" title="{{'main.process.processAdmin.resolutions.resolution.remove'|translate}}">
        <i class="fas fa-trash"></i>
      </button>
    </ng-template>
  </div>
</div>

<div class="row mt-1">
  <div class="col-4">
    <div  *ngIf="name.invalid && submitted" class="alert">
      {{'formError.empty'|translate}}
    </div>
  </div>

  <div class="col-6">
    <div *ngIf="url.invalid && submitted"class="alert">
      {{'formError.empty'|translate}}
    </div>
  </div>
</div>


