<ul class="mt-4 vertical-nav-menu metismenu">
    <li>
        <a routerLink="platforms" routerLinkActive="mm-active">
            <i class="metismenu-icon fas fa-laptop"></i>Navegadores
        </a>
    </li>
    <li>
        <a routerLink="executions" routerLinkActive="mm-active">
            <i class="metismenu-icon  fas fa-dice-six"></i>Ejecución
        </a>
    </li>
    <li>
        <a routerLink="tms" routerLinkActive="mm-active">
            <i class="metismenu-icon fas fa-layer-group"></i>Repositorio de Pruebas
        </a>
    </li>
    <li>
        <a routerLink="groups" routerLinkActive="mm-active">
            <i class="metismenu-icon fas fa-user-friends"></i>Grupos
        </a>
    </li>
    <li>
        <a routerLink="users" routerLinkActive="mm-active">
            <i class="metismenu-icon  fas fa-user"></i>Usuarios
        </a>
    </li>
</ul>