<ul class="mt-4 vertical-nav-menu metismenu">
    <li>
        <a routerLink="platforms" routerLinkActive="mm-active">
            <i class="metismenu-icon fas fa-laptop"></i>{{'main.admin.menu.browsers'|translate}}
        </a>
    </li>
    <li>
        <a routerLink="executions" routerLinkActive="mm-active">
            <i class="metismenu-icon  fas fa-dice-six"></i>{{'main.admin.menu.execution'|translate}}
        </a>
    </li>
    <li>
        <a routerLink="tms" routerLinkActive="mm-active">
            <i class="metismenu-icon fas fa-layer-group"></i>{{'main.admin.menu.testRepo'|translate}}
        </a>
    </li>
    <li>
        <a routerLink="groups" routerLinkActive="mm-active">
            <i class="metismenu-icon fas fa-user-friends"></i>{{'main.admin.menu.groups'|translate}}
        </a>
    </li>
    <li>
        <a routerLink="users" routerLinkActive="mm-active">
            <i class="metismenu-icon  fas fa-user"></i>{{'main.admin.menu.users'|translate}}
        </a>
    </li>
</ul>
