<div class="sidebarZahoricontent">
    
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>Gestión de ejecuciones</div>
            </div>
        </div>
    </div>

    <div class="row mt-3">

        <div class="col-4">
            <h6>Evidencias</h6>
            <select name="select" id="exampleSelect" class="form-control">
                <option>Nunca</option>
                <option>Sólo si el proceso falla o tiene alertas</option>
                <option>Sólo si el proceso falla</option>
            </select>
        </div>

        <div class="col-4">
            <h6>Tipos</h6>
            <div class="mt-3">
                <div class="custom-checkbox custom-control custom-control-inline">
                    <input type="checkbox" id="Video" class="custom-control-input">
                    <label class="custom-control-label" for="Video">Vídeo</label>
                </div>
                <div class="custom-checkbox custom-control custom-control-inline">
                    <input type="checkbox" id="Log" class="custom-control-input">
                    <label class="custom-control-label" for="Log">log</label>
                </div>
                <div class="custom-checkbox custom-control custom-control-inline">
                    <input type="checkbox" id="Doc" class="custom-control-input">
                    <label class="custom-control-label" for="Doc">doc</label>
                </div>
                <div class="custom-checkbox custom-control custom-control-inline">
                    <input type="checkbox" id="csv" class="custom-control-input">
                    <label class="custom-control-label" for="csv">screenshot</label>
                </div>
                <div class="custom-checkbox custom-control custom-control-inline">
                    <input type="checkbox" id="csv" class="custom-control-input">
                    <label class="custom-control-label" for="csv">har</label>
                </div>
            </div>
        </div>

        <div class="col-4">
            <h6>Idiomas</h6>
            <div class="mt-3">
                <div class="custom-checkbox custom-control custom-control-inline">
                    <input type="checkbox" id="Ingles" class="custom-control-input">
                    <label class="custom-control-label" for="Video">Inglés</label>
                </div>
                <div class="custom-checkbox custom-control custom-control-inline">
                    <input type="checkbox" id="Español" class="custom-control-input">
                    <label class="custom-control-label" for="Log">Español</label>
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-4">

        <div class="col-4">
            <h6>Reintentos</h6>
            <select name="select" id="exampleSelect2" class="form-control">
                <option>Entornos 1</option>
                <option>Entornos 2</option>
                <option>Entornos 3</option>
                <option>Entornos 4</option>
                <option>Entornos 5</option>
            </select>
        </div>
        <div class="col-4">
            <h6>Timeout</h6>
            <select name="select" id="exampleSelect3" class="form-control">
                <option>Reintentos 1</option>
                <option>Reintentos 2</option>
                <option>Reintentos 3</option>
                <option>Reintentos 4</option>
                <option>Reintentos 5</option>
            </select>
        </div>
        <div class="col-4">
            <h6>Paralelización</h6>
            <select name="select" id="exampleSelect4" class="form-control">
                <option>¿Guardar Resultados? 1</option>
                <option>¿Guardar Resultados? 2</option>
                <option>¿Guardar Resultados? 3</option>
                <option>¿Guardar Resultados? 4</option>
                <option>¿Guardar Resultados? 5</option>
            </select>
        </div>

    </div>

    <div class="col-8 text-center mt-3">
        <button class="btn-wide mt-2 btn-icon btn btn-zahoriV btn-sm">
            Guardar
        </button>
    </div>

</div>