
:host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
    max-width: none!important;
    margin-top: 4px;
  }
  
  :host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
    color: #84986B!important;
    background-color: #D7E5C6!important;
    border: 0px solid #D7E5C6!important;
    border-radius: 2px;
  }
  
  :host ::ng-deep .dropdown-list{
    /* position: relative!important; */
  }
  
  :host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item a {
    color: dimgrey!important;
  }
  
  :host ::ng-deep .multiselect-dropdown {
    border: 1px solid #eee!important;
    background-color: #fff!important;
    border-radius: .25rem;
  }
  
  :host ::ng-deep .multiselect-item-checkbox div::before {
    background: #ffffff!important;
    border: 2px solid #6a6a6a!important;
    animation: none;
  }
  
  :host ::ng-deep .multiselect-dropdown .dropdown-btn {
    border: 0px solid #eee!important;
  }
  
  :host ::ng-deep .multiselect-item-checkbox div {
    color: #6a6a6a!important;
  }
  
  :host ::ng-deep .multiselect-item-checkbox div::before:checked {
    background: #6a6a6a!important;
  }
  
  :host ::ng-deep .multiselect-item-checkbox input[type=checkbox] + div:after{
    border-color: #3d4246!important;
  }