<ul class="mt-4 vertical-nav-menu metismenu">
    <li>
        <a routerLink="change-email" routerLinkActive="mm-active">
            <i class="metismenu-icon fas fa-envelope"></i>{{'main.account.menu.email'| translate}}
        </a>
        <a routerLink="notifications" routerLinkActive="mm-active">
            <i class="metismenu-icon fas fa-bell"></i>{{'main.account.menu.notifications'| translate}}
        </a>
        <a routerLink="change-password" routerLinkActive="mm-active">
            <i class="metismenu-icon fas fa-key"></i>{{'main.account.menu.changePassword'| translate}}
        </a>
    </li>