<div class="app-header">

    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar"
                    (click)="showHideMenu()">
                    <span class="equiposClose">
                        <img class="iconoAbrir" sty="" alt="equipos icono abrir"
                            src="/assets/images/imgIcons/equiposAbrir.png">
                        <img class="iconoCerrar" sty="" alt="equipos icono cerrar"
                            src="/assets/images/imgIcons/equiposCerrar.png">
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6" aria-hidden="true"></i>
                </span>
            </button>
        </span>
    </div>

    <div class="app-header__content header-shadow">
        <div class="app-header-left">
            <ul class="nav">
                <li class="nav-title">
                    <strong class="font-weight-normal">{{dataService.teamSelected.name}}</strong> -
                    {{dataService.processSelected.name}}
                </li>
                <li class="nav-item">
                    <a routerLink="executions" routerLinkActive="linkActive" class="nav-link">
                        <i class="nav-link-icon fas fa-history" aria-hidden="true"></i>
                        Últimas ejecuciones
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="trigger" routerLinkActive="linkActive" class="nav-link">
                        <i class="nav-link-icon far fa-play-circle" aria-hidden="true"></i>
                        Disparador
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="configurator" routerLinkActive="linkActive" class="nav-link">
                        <i class="nav-link-icon fas fa-cogs" aria-hidden="true"></i>
                        Configurador
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="cases" routerLinkActive="linkActive" class="nav-link">
                        <i class="nav-link-icon fas fa-th" aria-hidden="true"></i>
                        Casos
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="cases" routerLinkActive="linkActive" class="nav-link">
                        <i class="fas fa-cog" aria-hidden="true"></i>
                        Administración de procesos
                    </a>
                </li>
            </ul>
        </div>
        <div class="app-header-right"></div>
    </div>

</div>