<div class="modal" [style.display]="display ? 'block' : 'none'">
    
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
  
            <div class="modal-header">
                <h5 class="modal-title">{{title}}</h5>

                <div class="ml-auto">
                    <button *ngIf="closable" type="button" (click)="closeModal()" class="btn btn-default" aria-label="Left Align">
                        <span class="fas fa-times fa-lg" style="color: grey;" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
  
            <div class="modal-body">
                <ng-template #childComponent></ng-template>
            </div>
  
            <div class="modal-footer">
                <button *ngIf="closable" type="button" class="btn btn-light" (click)="closeModal()">{{'main.process.caseExecutionDetails.close'|translate}}</button>
            </div>
        </div>
    </div>
  </div>