<h5 class="drawer-heading" *ngIf="configuration.configurationId == 0">{{'main.process.configurator.form.createConf' | translate}}</h5>
<h5 class="drawer-heading" *ngIf="configuration.configurationId > 0">{{'main.process.configurator.form.editConf' | translate}}</h5>

<div class=" drawer-section">
  <form class="mt-4">

    <div class="d-flex position-relative form-group">

      <div class="col-6">
        <label for="name" class="">{{'main.process.configurator.form.name' | translate}}</label>
        <input id="name" name="name" placeholder="" type="text" class="form-control" [(ngModel)]="configuration.name">
      </div>

      <div class="col-6">
        <label for="environmentId" class="">{{'main.process.configurator.form.environment' | translate}}</label>
        <div class="input-group">
          <select id="environmentId" [(ngModel)]="configuration.clientEnvironment.environmentId" name="environmentId" class="form-control">
            <option *ngIf="envs.length == 0" [value]="0" selected disabled>{{'main.process.configurator.form.noEnvironments' | translate}}</option>
            <option [value]="env.environmentId" *ngFor="let env of envs">{{env.name}}</option>
          </select>
          <div class="input-group-prepend" title="{{'main.process.configurator.form.editEnvironments' | translate}}" style="cursor: pointer;">
            <div (click)="emitEventOpenEnvironmentComponent()" class="input-group-text" data-backdrop="false"
              data-toggle="modal" data-target="#environmentsModal">
              <i class="fas fa-pen fa-1" style="color: #969696;" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="d-flex  position-relative form-group">

      <div class="col-6">
        <label for="retryId" class="">{{'main.process.configurator.form.retries' | translate}}</label>
        <select id="retryId" [(ngModel)]="configuration.retry.retryId" name="retryId" class="form-control">
          <option [value]="retry.retryId" *ngFor="let retry of retries">{{retry.retryId}}</option>
        </select>
      </div>

      <div class="col-6">
        <label for="timeout" class="">{{'main.process.configurator.form.timeout' | translate}}</label>
        <div class="input-group">
          <select id="timeout" [(ngModel)]="configuration.timeout.timeoutId" name="timeout" class="form-control">
            <option [value]="timeout.timeoutId" *ngFor="let timeout of timeouts">{{timeout.timeoutId}}</option>
          </select>
          <div class="input-group-prepend">
            <div class="input-group-text">
              {{'main.process.configurator.form.seconds' | translate}}
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="d-flex  position-relative form-group">
      <div class="col-6">
        <label for="generateEvidence">{{'main.process.configurator.form.generateEvidences' | translate}}</label>
        <select id="generateEvidence" name="generateEvidence" class="form-control" [(ngModel)]="configuration.evidenceCase.eviCaseId">
          <option [value]="eviCase.eviCaseId" *ngFor="let eviCase of evidenceCases">{{eviCase.name}}</option>
        </select>
      </div>

      <div class="col-6">
        <div class="ml-2 custom-control custom-switch">
          <input [(ngModel)]="configuration.uploadResults" name="uploadResults" id="uploadResults" type="checkbox"
            class="custom-control-input" (change)="activateRepository(configuration, $event)"
          >
          <label for="uploadResults" class="custom-control-label" style="margin-bottom: .5rem;">{{'main.process.configurator.form.saveResultsRepo' | translate}}</label>
        </div>
        <select [(ngModel)]="configuration.clientTestRepo.repoInstanceId" [disabled]="!configuration.uploadResults"
          name="repoInstanceId" class="form-control">
          <option *ngIf="clientTestRepositories.length == 0" [value]="0" selected disabled>{{'main.process.configurator.form.noRepositories' | translate}}</option>
          <option [value]="clientTestRepo.repoInstanceId" *ngFor="let clientTestRepo of clientTestRepositories">{{clientTestRepo.name}}</option>
        </select>
      </div>
    </div>

    <div>
      <div class="col-12">
        <label for="generateEvidence">{{'main.process.configurator.form.evidenceTypes' | translate}}</label>
      </div>
    </div>
    <div class="d-flex  position-relative form-group">
      <div class="col-12 position-relative form-group">
        <div class="col-2 custom-checkbox custom-control custom-control-inline"
          *ngFor="let evidenceType of evidenceTypes; let i = index">
          <input type="checkbox" (change)="changeEvidenceType(evidenceType, $event)"
            [checked]="isSelectedEvidenceType(evidenceType)" class="custom-control-input"
            name="evidenceType_{{evidenceType.eviTypeId}}" id="evidenceType_{{evidenceType.eviTypeId}}">
          <label class="custom-control-label"
            for="evidenceType_{{evidenceType.eviTypeId}}">{{evidenceType.name}}</label>
        </div>
      </div>
    </div>

    <div class="text-center">
      <input type="submit" value="{{'main.process.configurator.form.save' | translate}}" class="btn-wide mt-3 mb-3 btn-icon btn btn-zahoriV btn-sm"
        (click)="saveConf(configuration)" />
    </div>

    <banner [banner]="banner" (click)="closeBanner()"></banner>

  </form>

</div>

<!-- Modal - Environments -->
<div id="environmentsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="environmentsModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <app-admin-environments [eventOpenComponent]="eventInstantiateEnvironmentComponent.asObservable()">
        </app-admin-environments>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal"
          (click)="closeEditEnvironmentsModal()">{{'main.process.configurator.form.close' | translate}}</button>
      </div>
    </div>
  </div>
</div>
