<h5 class="drawer-heading" *ngIf="configuration.configurationId == 0">Crear configuración</h5>
<h5 class="drawer-heading" *ngIf="configuration.configurationId > 0">Editar configuración</h5>

<div class=" drawer-section">
  <form class="mt-4">

    <div class="d-flex position-relative form-group">

      <div class="col-6">
        <label for="name" class="">Nombre</label>
        <input name="name" placeholder="" type="text" class="form-control" [(ngModel)]="configuration.name">
      </div>

      <div class="col-6">
        <label for="environmentId" class="">Entorno</label>
        <div class="input-group">
          <select [(ngModel)]="configuration.clientEnvironment.environmentId" name="environmentId" class="form-control">
            <option *ngIf="envs.length == 0" [value]="0" selected disabled>No hay entornos, crea uno</option>
            <option [value]="env.environmentId" *ngFor="let env of envs">{{env.name}}</option>
          </select>
          <div class="input-group-prepend" title="Editar entornos" style="cursor: pointer;">
            <div (click)="emitEventOpenEnvironmentComponent()" class="input-group-text" data-backdrop="false"
              data-toggle="modal" data-target="#environmentsModal">
              <i class="fas fa-pen fa-1" style="color: #969696;" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="d-flex  position-relative form-group">

      <div class="col-6">
        <label for="retryId" class="">Reintentos</label>
        <select [(ngModel)]="configuration.retry.retryId" name="retryId" class="form-control">
          <option [value]="retry.retryId" *ngFor="let retry of retries">{{retry.retryId}}</option>
        </select>
      </div>

      <div class="col-6">
        <label for="timeout" class="">Timeout</label>
        <div class="input-group">
          <select [(ngModel)]="configuration.timeout.timeoutId" name="timeout" class="form-control">
            <option [value]="timeout.timeoutId" *ngFor="let timeout of timeouts">{{timeout.timeoutId}}</option>
          </select>
          <div class="input-group-prepend">
            <div class="input-group-text">
              segundos
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="d-flex  position-relative form-group">
      <div class="col-6">
        <label for="generateEvidence">Generar evidencias</label>
        <select name="generateEvidence" class="form-control" [(ngModel)]="configuration.evidenceCase.eviCaseId">
          <option [value]="eviCase.eviCaseId" *ngFor="let eviCase of evidenceCases">{{eviCase.name}}</option>
        </select>
      </div>

      <div class="col-6">
        <div class="ml-2 custom-control custom-switch">
          <input [(ngModel)]="configuration.uploadResults" name="uploadResults" id="uploadResults" type="checkbox"
            class="custom-control-input">
          <label for="uploadResults" class="custom-control-label" style="margin-bottom: .5rem;">Guardar resultados en
            repositorio</label>
        </div>
        <select [(ngModel)]="configuration.testRepository.testRepoId" [disabled]="!configuration.uploadResults"
          name="testRepoId" class="form-control">
          <option [value]="testRepo.testRepoId" *ngFor="let testRepo of testRepositories">{{testRepo.name}}</option>
        </select>
      </div>
    </div>

    <div>
      <div class="col-12">
        <label for="generateEvidence">Tipos de evidencias</label>
      </div>
    </div>
    <div class="d-flex  position-relative form-group">
      <div class="col-12 position-relative form-group">
        <div class="col-2 custom-checkbox custom-control custom-control-inline"
          *ngFor="let evidenceType of evidenceTypes; let i = index">
          <input type="checkbox" (change)="changeEvidenceType(evidenceType, $event)"
            [checked]="isSelectedEvidenceType(evidenceType)" class="custom-control-input"
            name="evidenceType_{{evidenceType.eviTypeId}}" id="evidenceType_{{evidenceType.eviTypeId}}">
          <label class="custom-control-label"
            for="evidenceType_{{evidenceType.eviTypeId}}">{{evidenceType.name}}</label>
        </div>
      </div>
    </div>

    <div class="text-center">
      <input type="submit" value="Guardar" class="btn-wide mt-3 mb-3 btn-icon btn btn-zahoriV btn-sm"
        (click)="saveConf(configuration)" />
    </div>

    <banner [banner]="banner" (click)="closeBanner()"></banner>

  </form>

</div>

<!-- Modal - Environments -->
<div id="environmentsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="environmentsModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <app-admin-environments [eventOpenCompononent]="eventInstantiateEnvironmentCompononent.asObservable()">
        </app-admin-environments>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal"
          (click)="closeEditEnvironmentsModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>