.app-main__inner {
    padding: 10px 15px 0 !important;
}

.modal {
    margin-top: 100px;
}

.modal-dialog {
    box-shadow: 0px 0px 25px #888888;
}

.modal-content {
    height: calc(100vh - 135px);
}

.modal-body {
    overflow: auto;
}

.modal-maximized {
    max-width: initial;
    width: 98%;
}

.caseSelected {
    background: #f8f9fa !important;
}

.sidebarZahoricontent.reduce {
    width: 60%;
    float: left;
}

.sidebarZahoriGrey {
    display: none;
}

.sidebarZahoriGrey.active {
    display: block;
    width: 45%;
    float: right;
    height: fit-content;
    margin: -140px -70px 0 0px;
    min-width: auto;
}

.drawer-content-wrapperGrey {
    height: calc(100vh - 70px);
    position: fixed !important;
    overflow-y: scroll !important;
}

.drawer-nav-btn {
    top: 2.75rem;
}

.showOnHover:hover .hide {
    visibility: visible;
    background: #f8f9fa !important;
}

.hide {
    visibility: hidden;
}

.dropdown-menu-minimal {
    min-width: fit-content;
    animation: none;
    padding: 0;
}

/*******************/
.Zahoricontent {
    width: 100%;
    padding: 30px 30px 0;
}
.Zahoricontent.reduced {
    width: 78%;
    padding: 30px 5px 0px 30px;
}

.ZahoriZonaDcha {
    display: none;
    margin-top: 0px;
    padding: 0px 10px 30px;
    width: 22%;
    font-size: .88rem;
}
.ZahoriZonaDcha.active {
    display: block;
}
.ZahoriZonaDcha.active p{
    overflow: hidden;
    word-wrap: break-word;
}

