<div class="app-main__inner2col">

      <div class="Zahoricontent" [ngClass]="{'reduced': caseExecutionSelected && caseExecutionSelected.caseExecutionId > 0}">

        <!-- Inicio cabecera con busqueda -->
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div>{{'main.process.executions.lastExecutions'|translate}}
                <i title="reload" *ngIf="!loading" class="fas fa-sync-alt fa-xs ml-3"
                  style="cursor: pointer; color: grey; font-size: 0.7em;" (click)="reload()"></i>
                <div title="loading..." *ngIf="loading"
                  class="spinner-border spinner-border-sm text-secondary ml-3 mb-1"
                  style="border: 0.15em solid currentColor;border-right-color: transparent; border-width: 0.1em;"
                  role="status">
                  <span class="sr-only">{{'main.process.executions.running'|translate}}</span>
                </div>
              </div>
            </div>
            <div class="page-title-actions">
              <div class="search-wrapper active">
                <div class="input-holder">
                  <input type="text" class="search-input" placeholder="{{'main.process.executions.search'|translate}}">
                  <button class="search-icon"><span></span></button>
                </div>
                <button class="close"></button>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin cabecera con busqueda -->

        <ng-container *ngIf="dataService.processExecutions">

          <!-- Inicio de Tabla de Datos -->
          <table class="mb-0 table table-hover">

            <thead>
              <tr>
                <th>#</th>
                <th>{{'main.process.executions.executionName'|translate}}</th>
                <th>{{'main.process.executions.caseExecuted'|translate}}</th>
                <th>{{'main.process.executions.duration'|translate}}</th>
                <th>{{'main.process.executions.state'|translate}}</th>
                <th>{{'main.process.executions.correctTotals'|translate}}</th>
                <th *ngIf="dataService.isWebProcess()">
                  {{'main.process.executions.browsers'|translate}}
                </th>
                <th *ngIf="dataService.isWebProcess()">
                  {{'main.process.executions.resolutions'|translate}}
                </th>
                <th>{{'main.process.executions.date'|translate}}</th>
                <th>{{'main.process.executions.configuration'|translate}}</th>
                <th>{{'main.process.executions.type'|translate}}</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <ng-template ngFor let-execution [ngForOf]="dataService.processExecutions.data.content" let-i="index">

                <tr data-toggle="collapse" [attr.data-target]="'#group-of-rows-'+ execution.executionId" class="showOnHover">
                  <td>{{execution.executionId}}</td>
                  <td>{{execution.name}}</td>
                  <td>
                    <ng-container *ngFor="let caseName of getCaseList(execution); let i = index">
                      <button *ngIf="i < 3" class="mr-2 btn-pill btn btn-light disabled btn-sm">
                        {{caseName}}
                      </button>
                      <button *ngIf="i == 3" title="más casos..."
                        class="mr-2 btn-pill btn btn-light disabled btn-sm">...</button>
                    </ng-container>
                  </td>
                  <td>
                    <span>{{execution.durationSeconds}}</span>
                    <span *ngIf="execution.durationSeconds && execution.durationSeconds >= 0"> (s)</span>
                  </td>
                  <td>
                    <i title="{{execution.status}}" class="fas " [ngClass]="{
                      'fa-check text-success': 'SUCCESS PASSED'.includes(execution.status),
                      'fa-times text-danger': execution.status  === 'FAILURE',
                      'fa-exclamation-triangle': execution.status  === 'Not executed'}">
                    </i>
                    <div title="Running" *ngIf="execution.status === 'Running'"
                      class="spinner-border spinner-border-sm text-primary" role="status">
                      <span class="sr-only">{{'main.process.executions.running'|translate}}</span>
                    </div>
                    <span *ngIf="execution.status === 'Created'">{{'main.process.executions.created'|translate}}</span>
                  </td>
                  <td>{{execution.totalPassed}}/{{execution.totalPassed + execution.totalFailed}}</td>
                  <td *ngIf="dataService.isWebProcess()">
                      <i *ngFor="let browserName of getBrowserList(execution)" title="{{browserName}}"
                        class="mr-1 fab fa fa-{{browserName}}"></i>
                  </td>
                  <td *ngIf="dataService.isWebProcess()">
                    <div *ngFor="let resolution of getScreenResolutionsList(execution)" class="badge-resolutions btn-zahoriPill-resolutions mr-1 mb-1">
                      <span title="{{resolution}}">{{getScreenResolutionName(resolution)}}</span>
                    </div>
                  </td>
                  <td>{{execution.date}}</td>
                  <td>{{execution.configuration.name}}</td>
                  <td>
                    <span *ngIf="execution.trigger == 'Scheduler'">
                      <a routerLink="../scheduler" title="{{'main.process.executions.triggerScheduler'|translate}}" class="nav-link" style="display: block; padding: 0px;"><i class="nav-link-icon fas fa-clock" style="margin:0px;"></i></a>
                    </span>
                    <span *ngIf="execution.trigger == 'Manual'">{{'main.process.executions.triggerManual'|translate}}</span>
                    <!--
                    <button *ngIf="execution.periodicExecution" id="sidebarProgramarCollapse"
                      class="btn-wide mb-2 mr-2 btn-icon btn btn-zahoriV btn-sm">
                      <i class="fas fa-clock"></i>
                    </button>
                    -->
                  </td>
                  <td>
                    <div *ngIf="execution.status !== 'Running'" class="btn-group dropleft">
                      <button type="button" class="btn" data-toggle="dropdown">
                        <i title="{{'main.process.executions.rerun.title'|translate}}" class="hide fas fa-undo-alt" style="color: grey;"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-minimal">
                        <ng-container *ngIf="!tms.isActivated(execution.configuration) || !tms.requiresTestExecutionId(execution.configuration)">
                          <a class="dropdown-item" (click)="rerunCases(execution, 'ALL')">{{'main.process.executions.rerun.all'|translate}}</a>
                          <a *ngIf="execution.status === 'FAILURE'" class="dropdown-item" (click)="rerunCases(execution, 'FAILED')">{{'main.process.executions.rerun.failed'|translate}}</a>
                        </ng-container>
                        <ng-container *ngIf="tms.isActivated(execution.configuration) && tms.requiresTestExecutionId(execution.configuration)">
                          <a class="dropdown-item" (click)="prepareRerunCases(execution, 'ALL')" data-backdrop="false" data-toggle="modal" data-target="#tmsModal">{{'main.process.executions.rerun.all'|translate}}</a>
                          <a *ngIf="execution.status === 'FAILURE'" class="dropdown-item" (click)="prepareRerunCases(execution, 'FAILED')" data-backdrop="false" data-toggle="modal" data-target="#tmsModal">{{'main.process.executions.rerun.failed'|translate}}</a>
                        </ng-container>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr [attr.id]="'group-of-rows-'+ execution.executionId" class="collapse tr_no_Hover">
                  <td [attr.colspan]="getNumberOfTableColumns()">
                    <table class="mb-0 table table-hover" style="width: 100%;">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>{{'main.process.executions.case'|translate}}</th>
                          <th>{{'main.process.executions.dateHour'|translate}}</th>
                          <th>{{'main.process.executions.duration'|translate}}</th>
                          <th>{{'main.process.executions.state'|translate}}</th>
                          <th *ngIf="dataService.isWebProcess()">
                            {{'main.process.executions.browser'|translate}}
                          </th>
                          <th *ngIf="dataService.isWebProcess()">
                            {{'main.process.executions.resolution'|translate}}
                          </th>
                          <th>{{'main.process.executions.evidences'|translate}}</th>
                          <th *ngIf="execution.status === 'Running'">{{'main.process.executions.videoStreaming'|translate}}</th>
                          <th>{{'main.process.executions.notes'|translate}}</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr data-toggle="collapse" data-target="" class="showOnHover"
                          *ngFor="let caseExecution of execution.casesExecutions; index as l"
                          [ngClass]="caseExecutionSelected && caseExecutionSelected.caseExecutionId == caseExecution.caseExecutionId ? 'caseSelected' : ''">
                          <td>{{caseExecution.caseExecutionId}}</td>
                          <td>{{caseExecution.cas.name}}</td>
                          <td>{{caseExecution.date}}</td>
                          <td>
                            <span>{{caseExecution.durationSeconds}}</span>
                            <span *ngIf="caseExecution.durationSeconds && caseExecution.durationSeconds >= 0"> (s)</span>
                          </td>
                          <td>
                            <i *ngIf="caseExecution.status !== 'Running' && caseExecution.status !== 'Pending'"
                              class="fas " title="{{caseExecution.status}}" [ngClass]="{
                                    'fa-check text-success': caseExecution.status === 'PASSED',
                                    'fa-times text-danger': caseExecution.status === 'FAILED',
                                    'fa-exclamation-triangle': caseExecution.status === 'Not executed',
                                    'fa-flag-checkered': caseExecution.status === 'Finished'}">
                            </i>
                            <i *ngIf="caseExecution.status === 'Pending'" class="fas fa fa-clock-o"
                              title="{{caseExecution.status}}"></i>
                            <div title="Running" *ngIf="caseExecution.status === 'Running'"
                              class="spinner-border spinner-border-sm text-primary" role="status">
                              <span class="sr-only">{{'main.process.executions.running'|translate}}</span>
                            </div>
                          </td>
                          <td *ngIf="dataService.isWebProcess()">
                            <i title="{{caseExecution.browser.browserName}} {{caseExecution.browserVersion}}"
                              class="mr-1 fab fa fa-{{caseExecution.browser.browserName}}"></i>
                          </td>
                          <td *ngIf="dataService.isWebProcess()">
                            <div class="badge-resolutions btn-zahoriPill-resolutions mr-1 mb-1">
                              <span title="{{caseExecution.screenResolution}}">{{getScreenResolutionName(caseExecution.screenResolution)}}</span>
                            </div>
                          </td>
                          <td>
                            <button *ngIf="caseExecution.status === 'PASSED' || caseExecution.status === 'FAILED'"
                              id="sidebarEvidenciasCollapsed" class="btn-wide mb-2 mr-2 btn-icon btn btn-zahoriV btn-sm"
                              (click)="showCaseExecutionDetails(caseExecution)"
                              title="{{'main.process.executions.show'|translate}}">
                              <i class="far fa-eye"></i>
                            </button>
                          </td>
                          <td *ngIf="execution.status === 'Running'">
                            <button *ngIf="caseExecution.selenoidId && caseExecution.status === 'Running'"
                              (click)="startVideoStreaming(caseExecution)"
                              class="btn-wide mb-2 mr-2 btn-icon btn btn-zahoriV btn-sm" data-backdrop="false"
                              data-toggle="modal" data-target="#videoModal"
                              title="{{'main.process.executions.show'|translate}}">
                              <i class="fas fa-video"></i>
                            </button>
                          </td>
                          <td>
                            <span
                              *ngIf="caseExecution.status === 'Not executed' && execution.status !== 'Running'">{{'main.process.executions.notExecuted'|translate}}</span>
                            <span *ngIf="caseExecution.status !== 'Not executed'" style="display: block;word-break: break-word;">
                              {{caseExecution.notes}}
                            </span>
                          </td>
                          <td>
                            <div *ngIf="execution.status !== 'Running'" class="btn-group dropleft">
                              <button type="button" class="btn" data-toggle="dropdown">
                                <i title="{{'main.process.executions.rerun.title'|translate}}" class="hide fas fa-undo-alt" style="color: grey;"></i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-minimal">
                                <ng-container *ngIf="!tms.isActivated(execution.configuration) || !tms.requiresTestExecutionId(execution.configuration)">
                                  <a class="dropdown-item" (click)="rerunCase(execution, caseExecution)">{{'main.process.executions.rerun.case'|translate}}</a>
                                </ng-container>
                                <ng-container *ngIf="tms.isActivated(execution.configuration) && tms.requiresTestExecutionId(execution.configuration)">
                                  <a class="dropdown-item" (click)="prepareRerunCase(execution, caseExecution)" data-backdrop="false" data-toggle="modal" data-target="#tmsModal">{{'main.process.executions.rerun.case'|translate}}</a>  
                                </ng-container>
                              </div>
                            </div>          
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>#</th>
                          <th>{{'main.process.executions.case'|translate}}</th>
                          <th>{{'main.process.executions.dateHour'|translate}}</th>
                          <th>{{'main.process.executions.duration'|translate}}</th>
                          <th>{{'main.process.executions.state'|translate}}</th>
                          <th *ngIf="dataService.isWebProcess()">
                            {{'main.process.executions.browser'|translate}}
                          </th>
                          <th *ngIf="dataService.isWebProcess()">
                            {{'main.process.executions.resolution'|translate}}
                          </th>
                          <th>{{'main.process.executions.evidences'|translate}}</th>
                          <th *ngIf="execution.status === 'Running'">{{'main.process.executions.videoStreaming'|translate}}</th>
                          <th>{{'main.process.executions.notes'|translate}}</th>
                          <th></th>
                        </tr>
                      </tfoot>
                    </table>
                  </td>
                </tr>
              </ng-template>

              <tr *ngIf="!loading && dataService.processExecutions.data.content.length == 0">
                <td [attr.colspan]="getNumberOfTableColumns()" class="text-center">
                  <span>{{'main.process.executions.withoutExecutionsYet'|translate}}
                    <a routerLink="../trigger"><strong>{{'main.process.executions.trigger'|translate}}</strong></a>
                  </span>
                </td>
              </tr>

              <tr *ngIf="loading">
                <td [attr.colspan]="getNumberOfTableColumns()">{{'main.process.executions.loading'|translate}}</td>
              </tr>

            </tbody>

          </table>
          <!-- Fin de Tabla de Datos-->

          <!-- Table pagination -->
          <pagination
            [totalElements]="this.dataService.processExecutions.data.totalElements" 
            [totalPages]="this.dataService.processExecutions.data.totalPages" 
            [currentPage]="currentPage" 
            (onPageClick)="goToPage($event)" >
          </pagination>

        </ng-container>
      </div>

      <!-- SIDEBAR - PERIODIC EXECUTIONS -->
      <div id="sidebarProgramar" class="sidebarZahori">
        <div class="drawer-content-wrapper ps ps--active-x ps--active-y">

          <div class="drawer-nav-btn">
            <button type="button" id="sidebarCollapsed" class="hamburger hamburger--elastic is-active sidebarCollapsed">
              <span class="hamburger-box"><span class="hamburger-inner"></span></span>
            </button>
          </div>

          <h3 class="drawer-heading">{{'main.process.executions.schedulePeriodicExecution'|translate}}</h3>
          <div class="drawer-section">
            <h6 class="titVentana">(REGT02)</h6>
            <div class="d-flex">
              <span>{{'main.process.executions.periodic'|translate}}</span>
              <div class="ml-2 custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
                <label class="custom-control-label " for="customSwitch1"></label>
              </div>
            </div>
            <div class="d-flex mt-3">
              <div class="position-relative form-group">
                <label for="exampleTime">{{'main.process.executions.hour'|translate}}</label>
                <input name="time" id="exampleTime" placeholder="{{'main.process.executions.hour'|translate}}"
                  type="time" class="form-control">
              </div>
              <div class="mt-4 pt-3 ml-3 d-flex">
                <div class="custom-checkbox custom-control  mr-2">
                  <input type="checkbox" id="DayCheckbox1" class="custom-control-input">
                  <label class="custom-control-label" for="DayCheckbox1">L</label>
                </div>
                <div class="custom-checkbox custom-control mr-2">
                  <input type="checkbox" id="DayCheckbox2" class="custom-control-input">
                  <label class="custom-control-label" for="DayCheckbox2">M</label>
                </div>
                <div class="custom-checkbox custom-control mr-2">
                  <input type="checkbox" id="DayCheckbox3" class="custom-control-input">
                  <label class="custom-control-label" for="DayCheckbox3">X</label>
                </div>
                <div class="custom-checkbox custom-control mr-2">
                  <input type="checkbox" id="DayCheckbox4" class="custom-control-input">
                  <label class="custom-control-label" for="DayCheckbox4">J</label>
                </div>
                <div class="custom-checkbox custom-control mr-2">
                  <input type="checkbox" id="DayCheckbox5" class="custom-control-input">
                  <label class="custom-control-label" for="DayCheckbox5">V</label>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button
                class="btn-wide mt-5 btn-icon btn btn-zahoriV btn-sm">{{'main.process.executions.save'|translate}}</button>
            </div>

          </div>
        </div>

      </div>

      <div class="ZahoriZonaDcha" [ngClass]="{'active': caseExecutionSelected && caseExecutionSelected.caseExecutionId > 0}">
        <app-case-execution-details (onClose)="hideCaseExecutionDetails()" [caseExecution]="caseExecutionSelected" [resolutions]="resolutions">
        </app-case-execution-details>
      </div>

    </div>



<!-- Modal - Vídeo -->
<div id="videoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" [ngClass]="modalMaximized ? 'modal-maximized' : ''"
    role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 *ngIf="caseExecutionVideoSelected" class="modal-title" id="exampleModalLongTitle">
          {{'main.process.executions.video'|translate}}
          ({{caseExecutionVideoSelected.caseExecutionId}}): {{caseExecutionVideoSelected.cas.name}}</h5>

        <div class="ml-auto">
          <button type="button" (click)="maximizeModal()" class="btn btn-default" aria-label="Left Align">
            <span class="far fa-window-maximize fa-lg" style="color: grey;" aria-hidden="true"></span>
          </button>
          <button type="button" (click)="closeModal()" data-dismiss="modal" class="btn btn-default"
            aria-label="Left Align">
            <span class="fas fa-times fa-lg" style="color: grey;" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <div class="modal-body">
        <span *ngIf="caseExecutionVideoSelected">{{caseExecutionVideoSelected.browser.browserName}}
          {{caseExecutionVideoSelected.browserVersion}} ({{getScreenResolutionName(caseExecutionVideoSelected.screenResolution)}})</span>
        <div id="screen">
          <!-- This is where the remote screen will appear -->
        </div>
      </div>

      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="closeModal()"
          data-dismiss="modal">{{'main.process.executions.close'|translate}}</button>
      </div>
      -->

    </div>
  </div>
</div>


<!-- Modal - TMS execution details -->
<div id="tmsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tmsModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-md" [ngClass]="modalMaximized ? 'modal-maximized' : ''"
      role="document">
      <div class="modal-content" *ngIf="newExecution.configuration && newExecution.configuration.clientTestRepo && newExecution.configuration.clientTestRepo.testRepository">

          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{newExecution.configuration.clientTestRepo.name}}</h5>

              <div class="ml-auto">
                  <button type="button" data-dismiss="modal" class="btn btn-default" aria-label="Left Align">
                      <span class="fas fa-times fa-lg" style="color: grey;" aria-hidden="true"></span>
                  </button>
              </div>
          </div>

          <div class="modal-body">
            <p [innerHTML]="'main.process.executions.tmsModal.description' | translate: {configurationName: newExecution.configuration.name, repositoryName: newExecution.configuration.clientTestRepo.name}"></p>
            <p>{{'main.process.executions.tmsModal.enterId'|translate}}</p>
            <tms-execution-details [execution]="newExecution" [configuration]="newExecution.configuration"></tms-execution-details>
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal">
                {{'main.process.executions.tmsModal.button.cancel'|translate}}
              </button>
              <button class="btn-widemr-2 btn-icon btn btn-zahoriV" (click)="rerunTmsModal()" [disabled]="disableTmsSubmit()" data-dismiss="modal">
                {{'main.process.executions.tmsModal.button.execute'|translate}}
              </button>
          </div>
      </div>
  </div>
</div>
