
.modal{
    margin-top: 100px;
}

.modal-dialog{
    box-shadow: 0px 0px 25px #888888;
}

.modal-content {
    height: calc(100vh - 100px);
}

.modal-body {
    overflow: auto;
}

.modal-maximized {
    max-width: initial;
    width: 98%;
}
