<div class="app-main__inner">
  <div class="app-inner-layout ">
    <div class="wrapper">

      <div id="content" class="sidebarZahoricontent">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div>{{'main.process.executions.lastExecutions'|translate}}
                <i title="reload" *ngIf="!loading"
                   style="cursor: pointer; color: grey; font-size: 0.7em;" (click)="reload()"></i>
                <div title="loading..." *ngIf="loading"
                     class="spinner-border spinner-border-sm text-secondary ml-3 mb-1"
                     style="border: 0.15em solid currentColor;border-right-color: transparent; border-width: 0.1em;"
                     role="status">
                  <span class="sr-only">{{'main.process.executions.running'|translate}}</span>
                </div>
              </div>
            </div>
            <div class="page-title-actions">
              <div class="search-wrapper active">
                <div class="input-holder">
                  <input type="text" class="search-input"
                         placeholder="{{'main.process.executions.search'|translate}}">
                  <button class="search-icon"><span></span></button>
                </div>
                <button class="close"></button>
              </div>
            </div>
          </div>
        </div>
        <!-- Inicio cabecera con búsqueda -->
        <mat-tab-group>
          <mat-tab><!--Ejecuciones  manuales-->
            <ng-template mat-tab-label>
              <i class="nav-link-icon fas fa-hand-paper tab-icon" aria-hidden="true"></i>
              {{'main.process.executions.manual'|translate}}
            </ng-template>

            <!-- Inicio de Tabla de Datos -->
            <table class="mb-0 table table-hover">

              <thead>
              <tr>
                <th>#</th>
                <th>{{'main.process.executions.executionName'|translate}}</th>
                <th>{{'main.process.executions.caseExecuted'|translate}}</th>
                <th class="text-center">{{'main.process.executions.duration'|translate}}</th>
                <th class="text-center">{{'main.process.executions.state'|translate}}</th>
                <th class="text-center">{{'main.process.executions.correctTotals'|translate}}</th>
                <th class="text-center" style="width: 110px;" *ngIf="dataService.isWebProcess()">
                  {{'main.process.executions.browsers'|translate}}
                </th>
                <th class="text-center" style="width: 110px;" *ngIf="dataService.isWebProcess()">
                  {{'main.process.executions.resolutions'|translate}}
                </th>
                <th class="text-center" style="width: 150px;">{{'main.process.executions.date'|translate}}</th>
                <th class="text-center">{{'main.process.executions.configuration'|translate}}</th>
              </tr>
              </thead>

              <tbody>
              <ng-template ngFor let-execution [ngForOf]="manualExecutions" let-i="index">

                <tr data-toggle="collapse" [attr.data-target]="'#group-of-rows-'+ execution.executionId">
                  <td scope="row">{{execution.executionId}}</td>
                  <td>{{execution.name}}</td>
                  <td>
                    <ng-container *ngFor="let caseName of getCaseList(execution); let i = index">
                      <button *ngIf="i < 3" class="mb-2 mr-2 btn-pill btn btn-light disabled btn-sm">
                        {{caseName}}
                      </button>
                      <button *ngIf="i == 3" title="más casos..."
                              class="mb-2 mr-2 btn-pill btn btn-light disabled btn-sm">...
                      </button>
                    </ng-container>
                  </td>
                  <td class="text-center">
                    <span>{{execution.durationSeconds}}</span>
                    <span *ngIf="execution.durationSeconds && execution.durationSeconds >= 0"> (s)</span>
                  </td>
                  <td class="text-center">
                    <i title="{{execution.status}}" class="fas " [ngClass]="{
                    'fa-check text-success': 'SUCCESS PASSED'.includes(execution.status),
                    'fa-times text-danger': execution.status  === 'FAILURE',
                    'fa-exclamation-triangle': execution.status  === 'Not executed'}">
                    </i>
                    <div title="Running" *ngIf="execution.status === 'Running'"
                         class="spinner-border spinner-border-sm text-primary" role="status">
                      <span class="sr-only">{{'main.process.executions.running'|translate}}</span>
                    </div>
                    <span *ngIf="execution.status === 'Created'">{{'main.process.executions.created'|translate}}</span>
                  </td>
                  <td class="text-center">
                    <span *ngIf="execution.processSchedule==null">{{execution.totalPassed}}
                      /{{execution.totalPassed + execution.totalFailed}}</span>
                  </td>
                  <td class="text-center" *ngIf="dataService.isWebProcess()">
                    <i *ngFor="let browserName of getBrowserList(execution)" title="{{browserName}}"
                       class="mr-1 fab fa fa-{{browserName}}"></i>
                  </td>
                  <td class="text-center" *ngIf="dataService.isWebProcess()">
                    <div *ngFor="let resolution of getScreenResolutionsList(execution)"
                         class="badge-resolutions btn-zahoriPill-resolutions mr-1 mb-1">
                      {{resolution}}
                    </div>
                  </td>
                  <td class="text-center">
                    <span *ngIf="execution.processSchedule==null">{{execution.date}}</span>
                    <span *ngIf="execution.processSchedule!=null">
                    {{execution.processSchedule.nextExecution| date:'dd/MM/YYYY'}}
                  </span>
                  </td>
                  <td class="text-center">{{execution.configuration.name}}</td>
                </tr>

                <tr [attr.id]="'group-of-rows-'+ execution.executionId" class="collapse tr_no_Hover">
                  <td [attr.colspan]="getNumberOfTableColumns()">
                    <table class="mb-0 table table-hover" style="width: 100%;">
                      <thead>
                      <tr>
                        <th>{{'main.process.executions.case'|translate}}</th>
                        <th class="text-center">{{'main.process.executions.dateHour'|translate}}</th>
                        <th class="text-center">{{'main.process.executions.duration'|translate}}</th>
                        <th class="text-center">{{'main.process.executions.state'|translate}}</th>
                        <th class="text-center" *ngIf="dataService.isWebProcess()">
                          {{'main.process.executions.browser'|translate}}
                        </th>
                        <th class="text-center" *ngIf="dataService.isWebProcess()">
                          {{'main.process.executions.resolution'|translate}}
                        </th>
                        <th class="text-center">{{'main.process.executions.evidences'|translate}}</th>
                        <th class="text-center">{{'main.process.executions.videoStreaming'|translate}}</th>
                        <th class="text-center">{{'main.process.executions.notes'|translate}}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr data-toggle="collapse" data-target=""
                          *ngFor="let caseExecution of execution.casesExecutions; index as l"
                          [ngClass]="caseExecutionSelected && caseExecutionSelected.caseExecutionId == caseExecution.caseExecutionId ? 'caseSelected' : ''">
                        <td>{{caseExecution.caseExecutionId}} - {{caseExecution.cas.name}}</td>
                        <td class="text-center">{{caseExecution.date}}</td>
                        <td class="text-center">
                          <span>{{caseExecution.durationSeconds}}</span>
                          <span *ngIf="caseExecution.durationSeconds && caseExecution.durationSeconds >= 0"> (s)</span>
                        </td>
                        <td class="text-center">
                          <i *ngIf="caseExecution.status !== 'Running' && caseExecution.status !== 'Pending'"
                             class="fas " title="{{caseExecution.status}}" [ngClass]="{
                                  'fa-check text-success': caseExecution.status === 'PASSED',
                                  'fa-times text-danger': caseExecution.status === 'FAILED',
                                  'fa-exclamation-triangle': caseExecution.status === 'Not executed',
                                  'fa-flag-checkered': caseExecution.status === 'Finished'}">
                          </i>
                          <i *ngIf="caseExecution.status === 'Pending'" class="fas fa fa-clock-o"
                             title="{{caseExecution.status}}"></i>
                          <div title="Running" *ngIf="caseExecution.status === 'Running'"
                               class="spinner-border spinner-border-sm text-primary" role="status">
                            <span class="sr-only">{{'main.process.executions.running'|translate}}</span>
                          </div>
                        </td>
                        <td class="text-center" *ngIf="dataService.isWebProcess()">
                          <i title="{{caseExecution.browser.browserName}} {{caseExecution.browserVersion}}"
                             class="mr-1 fab fa fa-{{caseExecution.browser.browserName}}"></i>
                        </td>
                        <td class="text-center" *ngIf="dataService.isWebProcess()">
                          <div class="badge-resolutions btn-zahoriPill-resolutions mr-1 mb-1">
                            {{caseExecution.screenResolution}}
                          </div>
                        </td>
                        <td class="text-center">
                          <button *ngIf="caseExecution.status === 'PASSED' || caseExecution.status === 'FAILED'"
                                  id="sidebarEvidenciasCollapsed"
                                  class="btn-wide mb-2 mr-2 btn-icon btn btn-zahoriV btn-sm"
                                  (click)="showCaseExecutionDetails(caseExecution)"
                                  title="{{'main.process.executions.show'|translate}}">
                            <i class="far fa-eye"></i>
                          </button>
                        </td>
                        <td class="text-center">
                          <button *ngIf="caseExecution.selenoidId && caseExecution.status === 'Running'"
                                  (click)="startVideoStreaming(caseExecution)"
                                  class="btn-wide mb-2 mr-2 btn-icon btn btn-zahoriV btn-sm" data-backdrop="false"
                                  data-toggle="modal" data-target="#videoModal"
                                  title="{{'main.process.executions.show'|translate}}">
                            <i class="fa fa-youtube"></i>
                          </button>
                        </td>
                        <td class="text-center">
                          <span
                            *ngIf="caseExecution.status === 'Not executed' && execution.status !== 'Running'">{{'main.process.executions.notExecuted'|translate}}</span>
                          <span *ngIf="caseExecution.status !== 'Not executed'">
                            {{caseExecution.notes}}
                          </span>
                        </td>
                      </tr>
                      </tbody>
                      <tfoot>
                      <tr>
                        <th>{{'main.process.executions.case'|translate}}</th>
                        <th class="text-center">{{'main.process.executions.dateHour'|translate}}</th>
                        <th class="text-center">{{'main.process.executions.duration'|translate}}</th>
                        <th class="text-center">{{'main.process.executions.state'|translate}}</th>
                        <th class="text-center" *ngIf="dataService.isWebProcess()">
                          {{'main.process.executions.browser'|translate}}
                        </th>
                        <th class="text-center" *ngIf="dataService.isWebProcess()">
                          {{'main.process.executions.resolution'|translate}}
                        </th>
                        <th class="text-center">{{'main.process.executions.evidences'|translate}}</th>
                        <th class="text-center">{{'main.process.executions.videoStreaming'|translate}}</th>
                        <th class="text-center">{{'main.process.executions.notes'|translate}}</th>
                      </tr>
                      </tfoot>
                    </table>
                  </td>
                </tr>
              </ng-template>

              <tr *ngIf="!loading && dataService.processExecutions.length == 0">
                <td [attr.colspan]="getNumberOfTableColumns()" class="text-center">
                <span>{{'main.process.executions.withoutExecutionsYet'|translate}}
                  <a routerLink="../trigger"><strong>{{'main.process.executions.trigger'|translate}}</strong></a>
                </span>
                </td>
              </tr>

              <tr *ngIf="loading">
                <td [attr.colspan]="getNumberOfTableColumns()"
                    class="text-center">{{'main.process.executions.loading'|translate}}</td>
              </tr>

              </tbody>

            </table>
            <!-- Fin de Tabla de Datos-->
          </mat-tab>
          <mat-tab><!--Ejecuciones  periódicas-->
            <ng-template mat-tab-label>
              <i class="fas fa-cogs tab-icon" aria-hidden="true"></i>
              {{'main.process.executions.periodic'|translate}}
            </ng-template>
            <!-- Inicio de Tabla de Datos -->
            <table class="mb-0 table table-hover">

              <thead>
              <tr>
                <th>#</th>
                <th>{{'main.process.executions.executionName'|translate}}</th>
                <th class="text-center">{{'main.process.executions.numExecutions'|translate}}</th>
                <th class="text-center" style="width: 150px;">{{'main.process.executions.nextDate'|translate}}</th>
                <th class="text-center" style="width: 150px;">{{'main.process.executions.active'|translate}}</th>
              </tr>
              </thead>

              <tbody>
              <ng-template ngFor let-ps [ngForOf]="periodicExecutions" let-i="index">
                <tr data-toggle="collapse" [attr.data-target]="'#group-of-rows-'+ ps.processScheduleId">
                  <td scope="row">{{ps.processScheduleId}}</td>
                  <td>{{ps.name}}</td>
                  <td class="text-center">{{ps.numExecutions}}</td>
                  <td class="text-center">{{ps.nextExecution| date:'dd/MM/YYYY'}}</td>
                  <td class="text-center">
                    <span *ngIf="ps.active"><i class="metismenu-icon fas fa-check"></i></span>
                    <span *ngIf="!ps.active"><i class="metismenu-icon fa fa-times"></i></span>
                  </td>
                </tr>

                <tr [attr.id]="'group-of-rows-'+ ps.processScheduleId" class="collapse tr_no_Hover">
                  <td [attr.colspan]="getNumberOfTableColumns()">
                    <!-- Inicio de Tabla de ejecuciones-->
                    <table class="mb-0 table table-hover">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>{{'main.process.executions.executionName'|translate}}</th>
                        <th>{{'main.process.executions.caseExecuted'|translate}}</th>
                        <th class="text-center">{{'main.process.executions.duration'|translate}}</th>
                        <th class="text-center">{{'main.process.executions.state'|translate}}</th>
                        <th class="text-center">{{'main.process.executions.correctTotals'|translate}}</th>
                        <th class="text-center" style="width: 110px;" *ngIf="dataService.isWebProcess()">
                          {{'main.process.executions.browsers'|translate}}
                        </th>
                        <th class="text-center" style="width: 110px;" *ngIf="dataService.isWebProcess()">
                          {{'main.process.executions.resolutions'|translate}}
                        </th>
                        <th class="text-center" style="width: 150px;">{{'main.process.executions.date'|translate}}</th>
                        <th class="text-center">{{'main.process.executions.configuration'|translate}}</th>
                      </tr>
                      </thead>

                      <tbody>
                      <ng-template ngFor let-execution [ngForOf]="getPeriodicExecutions(ps.processScheduleId)" let-i="index">

                        <tr data-toggle="collapse" [attr.data-target]="'#group-of-rows-2-'+ execution.executionId">
                          <td scope="row">{{execution.executionId}}</td>
                          <td>{{execution.name}}</td>
                          <td>
                            <ng-container *ngFor="let caseName of getCaseList(execution); let i = index">
                              <button *ngIf="i < 3" class="mb-2 mr-2 btn-pill btn btn-light disabled btn-sm">
                                {{caseName}}
                              </button>
                              <button *ngIf="i == 3" title="más casos..."
                                      class="mb-2 mr-2 btn-pill btn btn-light disabled btn-sm">...
                              </button>
                            </ng-container>
                          </td>
                          <td class="text-center">
                            <span>{{execution.durationSeconds}}</span>
                            <span *ngIf="execution.durationSeconds && execution.durationSeconds >= 0"> (s)</span>
                          </td>
                          <td class="text-center">
                            <i title="{{execution.status}}" class="fas " [ngClass]="{
                    'fa-check text-success': 'SUCCESS PASSED'.includes(execution.status),
                    'fa-times text-danger': execution.status  === 'FAILURE',
                    'fa-exclamation-triangle': execution.status  === 'Not executed'}">
                            </i>
                            <div title="Running" *ngIf="execution.status === 'Running'"
                                 class="spinner-border spinner-border-sm text-primary" role="status">
                              <span class="sr-only">{{'main.process.executions.running'|translate}}</span>
                            </div>
                            <span *ngIf="execution.status === 'Created'">{{'main.process.executions.created'|translate}}</span>
                          </td>
                          <td class="text-center">
                    <span *ngIf="execution.processSchedule==null">{{execution.totalPassed}}
                      /{{execution.totalPassed + execution.totalFailed}}</span>
                          </td>
                          <td class="text-center" *ngIf="dataService.isWebProcess()">
                            <i *ngFor="let browserName of getBrowserList(execution)" title="{{browserName}}"
                               class="mr-1 fab fa fa-{{browserName}}"></i>
                          </td>
                          <td class="text-center" *ngIf="dataService.isWebProcess()">
                            <div *ngFor="let resolution of getScreenResolutionsList(execution)"
                                 class="badge-resolutions btn-zahoriPill-resolutions mr-1 mb-1">
                              {{resolution}}
                            </div>
                          </td>
                          <td class="text-center">
                            <span *ngIf="execution.processSchedule==null">{{execution.date}}</span>
                            <span *ngIf="execution.processSchedule!=null">
                    {{execution.processSchedule.nextExecution| date:'dd/MM/YYYY'}}
                  </span>
                          </td>
                          <td class="text-center">{{execution.configuration.name}}</td>
                        </tr>

                        <tr [attr.id]="'group-of-rows-2-'+ execution.executionId" class="collapse tr_no_Hover">
                          <td [attr.colspan]="getNumberOfTableColumns()">
                            <table class="mb-0 table table-hover" style="width: 100%;">
                              <thead>
                              <tr>
                                <th>{{'main.process.executions.case'|translate}}</th>
                                <th class="text-center">{{'main.process.executions.dateHour'|translate}}</th>
                                <th class="text-center">{{'main.process.executions.duration'|translate}}</th>
                                <th class="text-center">{{'main.process.executions.state'|translate}}</th>
                                <th class="text-center" *ngIf="dataService.isWebProcess()">
                                  {{'main.process.executions.browser'|translate}}
                                </th>
                                <th class="text-center" *ngIf="dataService.isWebProcess()">
                                  {{'main.process.executions.resolution'|translate}}
                                </th>
                                <th class="text-center">{{'main.process.executions.evidences'|translate}}</th>
                                <th class="text-center">{{'main.process.executions.videoStreaming'|translate}}</th>
                                <th class="text-center">{{'main.process.executions.notes'|translate}}</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr data-toggle="collapse" data-target=""
                                  *ngFor="let caseExecution of execution.casesExecutions; index as l"
                                  [ngClass]="caseExecutionSelected && caseExecutionSelected.caseExecutionId == caseExecution.caseExecutionId ? 'caseSelected' : ''">
                                <td>{{caseExecution.caseExecutionId}} - {{caseExecution.cas.name}}</td>
                                <td class="text-center">{{caseExecution.date}}</td>
                                <td class="text-center">
                                  <span>{{caseExecution.durationSeconds}}</span>
                                  <span *ngIf="caseExecution.durationSeconds && caseExecution.durationSeconds >= 0"> (s)</span>
                                </td>
                                <td class="text-center">
                                  <i *ngIf="caseExecution.status !== 'Running' && caseExecution.status !== 'Pending'"
                                     class="fas " title="{{caseExecution.status}}" [ngClass]="{
                                  'fa-check text-success': caseExecution.status === 'PASSED',
                                  'fa-times text-danger': caseExecution.status === 'FAILED',
                                  'fa-exclamation-triangle': caseExecution.status === 'Not executed',
                                  'fa-flag-checkered': caseExecution.status === 'Finished'}">
                                  </i>
                                  <i *ngIf="caseExecution.status === 'Pending'" class="fas fa fa-clock-o"
                                     title="{{caseExecution.status}}"></i>
                                  <div title="Running" *ngIf="caseExecution.status === 'Running'"
                                       class="spinner-border spinner-border-sm text-primary" role="status">
                                    <span class="sr-only">{{'main.process.executions.running'|translate}}</span>
                                  </div>
                                </td>
                                <td class="text-center" *ngIf="dataService.isWebProcess()">
                                  <i title="{{caseExecution.browser.browserName}} {{caseExecution.browserVersion}}"
                                     class="mr-1 fab fa fa-{{caseExecution.browser.browserName}}"></i>
                                </td>
                                <td class="text-center" *ngIf="dataService.isWebProcess()">
                                  <div class="badge-resolutions btn-zahoriPill-resolutions mr-1 mb-1">
                                    {{caseExecution.screenResolution}}
                                  </div>
                                </td>
                                <td class="text-center">
                                  <button *ngIf="caseExecution.status === 'PASSED' || caseExecution.status === 'FAILED'"
                                          id="sidebarEvidenciasCollapsed"
                                          class="btn-wide mb-2 mr-2 btn-icon btn btn-zahoriV btn-sm"
                                          (click)="showCaseExecutionDetails(caseExecution)"
                                          title="{{'main.process.executions.show'|translate}}">
                                    <i class="far fa-eye"></i>
                                  </button>
                                </td>
                                <td class="text-center">
                                  <button *ngIf="caseExecution.selenoidId && caseExecution.status === 'Running'"
                                          (click)="startVideoStreaming(caseExecution)"
                                          class="btn-wide mb-2 mr-2 btn-icon btn btn-zahoriV btn-sm" data-backdrop="false"
                                          data-toggle="modal" data-target="#videoModal"
                                          title="{{'main.process.executions.show'|translate}}">
                                    <i class="fa fa-youtube"></i>
                                  </button>
                                </td>
                                <td class="text-center">
                          <span
                            *ngIf="caseExecution.status === 'Not executed' && execution.status !== 'Running'">{{'main.process.executions.notExecuted'|translate}}</span>
                                  <span *ngIf="caseExecution.status !== 'Not executed'">
                            {{caseExecution.notes}}
                          </span>
                                </td>
                              </tr>
                              </tbody>
                              <tfoot>
                              <tr>
                                <th>{{'main.process.executions.case'|translate}}</th>
                                <th class="text-center">{{'main.process.executions.dateHour'|translate}}</th>
                                <th class="text-center">{{'main.process.executions.duration'|translate}}</th>
                                <th class="text-center">{{'main.process.executions.state'|translate}}</th>
                                <th class="text-center" *ngIf="dataService.isWebProcess()">
                                  {{'main.process.executions.browser'|translate}}
                                </th>
                                <th class="text-center" *ngIf="dataService.isWebProcess()">
                                  {{'main.process.executions.resolution'|translate}}
                                </th>
                                <th class="text-center">{{'main.process.executions.evidences'|translate}}</th>
                                <th class="text-center">{{'main.process.executions.videoStreaming'|translate}}</th>
                                <th class="text-center">{{'main.process.executions.notes'|translate}}</th>
                              </tr>
                              </tfoot>
                            </table>
                          </td>
                        </tr>
                      </ng-template>

                      <tr *ngIf="!loading && dataService.processExecutions.length == 0">
                        <td [attr.colspan]="getNumberOfTableColumns()" class="text-center">
                <span>{{'main.process.executions.withoutExecutionsYet'|translate}}
                  <a routerLink="../trigger"><strong>{{'main.process.executions.trigger'|translate}}</strong></a>
                </span>
                        </td>
                      </tr>

                      <tr *ngIf="loading">
                        <td [attr.colspan]="getNumberOfTableColumns()"
                            class="text-center">{{'main.process.executions.loading'|translate}}</td>
                      </tr>

                      </tbody>

                    </table>
                  </td>
                </tr>
              </ng-template>

              <tr *ngIf="!loading && dataService.processExecutions.length == 0">
                <td [attr.colspan]="getNumberOfTableColumns()" class="text-center">
                <span>{{'main.process.executions.withoutExecutionsYet'|translate}}
                  <a routerLink="../trigger"><strong>{{'main.process.executions.trigger'|translate}}</strong></a>
                </span>
                </td>
              </tr>

              <tr *ngIf="loading">
                <td [attr.colspan]="getNumberOfTableColumns()"
                    class="text-center">{{'main.process.executions.loading'|translate}}</td>
              </tr>

              </tbody>

            </table>
            <!-- Fin de Tabla de Datos-->
          </mat-tab>
        </mat-tab-group>
      </div>

      <!-- SIDEBAR - PERIODIC EXECUTIONS -->
      <div id="sidebarProgramar" class="sidebarZahori">
        <div class="drawer-content-wrapper ps ps--active-x ps--active-y">

          <div class="drawer-nav-btn">
            <button type="button" id="sidebarCollapsed" class="hamburger hamburger--elastic is-active sidebarCollapsed">
              <span class="hamburger-box"><span class="hamburger-inner"></span></span>
            </button>
          </div>

          <h3 class="drawer-heading">{{'main.process.executions.schedulePeriodicExecution'|translate}}</h3>
          <div class="drawer-section">
            <h6 class="titVentana">(REGT02)</h6>
            <div class="d-flex">
              <span>{{'main.process.executions.periodic'|translate}}</span>
              <div class="ml-2 custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
                <label class="custom-control-label " for="customSwitch1"></label>
              </div>
            </div>
            <div class="d-flex mt-3">
              <div class="position-relative form-group">
                <label for="exampleTime">{{'main.process.executions.hour'|translate}}</label>
                <input name="time" id="exampleTime" placeholder="{{'main.process.executions.hour'|translate}}"
                       type="time" class="form-control">
              </div>
              <div class="mt-4 pt-3 ml-3 d-flex">
                <div class="custom-checkbox custom-control  mr-2">
                  <input type="checkbox" id="DayCheckbox1" class="custom-control-input">
                  <label class="custom-control-label" for="DayCheckbox1">L</label>
                </div>
                <div class="custom-checkbox custom-control mr-2">
                  <input type="checkbox" id="DayCheckbox2" class="custom-control-input">
                  <label class="custom-control-label" for="DayCheckbox2">M</label>
                </div>
                <div class="custom-checkbox custom-control mr-2">
                  <input type="checkbox" id="DayCheckbox3" class="custom-control-input">
                  <label class="custom-control-label" for="DayCheckbox3">X</label>
                </div>
                <div class="custom-checkbox custom-control mr-2">
                  <input type="checkbox" id="DayCheckbox4" class="custom-control-input">
                  <label class="custom-control-label" for="DayCheckbox4">J</label>
                </div>
                <div class="custom-checkbox custom-control mr-2">
                  <input type="checkbox" id="DayCheckbox5" class="custom-control-input">
                  <label class="custom-control-label" for="DayCheckbox5">V</label>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button
                class="btn-wide mt-5 btn-icon btn btn-zahoriV btn-sm">{{'main.process.executions.save'|translate}}</button>
            </div>

          </div>
        </div>

      </div>

      <app-case-execution-details (onClose)="hideCaseExecutionDetails()" [caseExecution]="caseExecutionSelected">
      </app-case-execution-details>

    </div>

  </div>
</div>


<!-- Modal - Vídeo -->
<div id="videoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" [ngClass]="modalMaximized ? 'modal-maximized' : ''"
       role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 *ngIf="caseExecutionVideoSelected" class="modal-title" id="exampleModalLongTitle">
          {{'main.process.executions.video'|translate}}
          ({{caseExecutionVideoSelected.caseExecutionId}}): {{caseExecutionVideoSelected.cas.name}}</h5>

        <div class="ml-auto">
          <button type="button" (click)="maximizeModal()" class="btn btn-default" aria-label="Left Align">
            <span class="far fa-window-maximize fa-lg" style="color: grey;" aria-hidden="true"></span>
          </button>
          <button type="button" (click)="closeModal()" data-dismiss="modal" class="btn btn-default"
                  aria-label="Left Align">
            <span class="fas fa-times fa-lg" style="color: grey;" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <div class="modal-body">
        <span *ngIf="caseExecutionVideoSelected">{{caseExecutionVideoSelected.browser.browserName}}
          {{caseExecutionVideoSelected.browserVersion}} ({{caseExecutionVideoSelected.screenResolution}})</span>
        <div id="screen">
          <!-- This is where the remote screen will appear -->
        </div>
      </div>

      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="closeModal()"
          data-dismiss="modal">{{'main.process.executions.close'|translate}}</button>
      </div>
      -->

    </div>
  </div>
</div>
