
/* Clase para el spinner de carga -> reemplazar por el spinner de bootstrap cunado esté integrado */
.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 1.3s linear infinite; /* Safari */
    animation: spin 1.3s linear infinite;
  }
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn-circle {
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
.tagSelected {
  box-shadow: #a06969 2px 2px;
}
.tag {
  color:#3d4246;
}
.mat-standard-chip{
  min-height: 16px!important;
  padding: 1px 1px!important;
}
.mat-standard-chip {
  margin: 4px 1px 4px 1px!important;
}
