
<div class="app-main__inner2col">

	<div class="Zahoricontent">

		<div class="app-page-title">
			<div class="page-title-wrapper">
				<div class="page-title-heading">
					<div>{{'main.process.trigger.title'|translate}}</div>
				</div>
				<div class="page-title-actions d-flex">
					<div class="menuPills m-auto" *ngFor ="let tag of tags">
            <button id = "tag" class="mr-2 btn-pill btn btn-info btn-sm" [ngClass]="{'tagSelected':selectedTags.includes(tag)}" [ngStyle] = "{backgroundColor: tag.color, borderColor: tag.color}" style="color: #3d4246" (click)="onTagClick(tag)">{{tag.name}}</button>
          </div>

					<div class="search-wrapper ml-3">
						<div class="input-holder">
							<input type="text" class="search-input" placeholder="{{'main.process.trigger.search'|translate}}">
							<button class="search-icon">
								<span></span>
							</button>
						</div>
						<button class="close"></button>
					</div>
				</div>
			</div>
		</div>

		<table class="mb-0 table">
			<thead>
				<tr>
					<th>
            <div class="ml-2 custom-control custom-switch">
              <input type="checkbox" [(ngModel)]="massiveSelected" name="massiveSelected" id="massiveSelected" [checked]="massiveSelected"
                     (change)="massiveChangeState()"
                     class="custom-control-input">
              <label _ngcontent-scw-c70="" class="custom-control-label" for="massiveSelected"></label>
            </div>
          </th>
					<th>{{'main.process.trigger.id'|translate}}</th>
					<th>{{'main.process.trigger.case'|translate}}</th>
					<th>{{'main.process.trigger.tags'|translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="dataService.processCases.length == 0">
					<td class="text-center" colspan="4">{{'main.process.trigger.noCaseDefine'|translate}} <a routerLink="../cases"><strong>{{'main.process.trigger.cases'|translate}}</strong></a></td>
				</tr>
				<tr *ngFor="let case of dataService.processCases; index as indexCase; last as lastCase;">
					<td>
						<div class="ml-2 custom-control custom-switch">
							<input type="checkbox" [(ngModel)]="case.selected" name="case-{{case.caseId}}" id="case-{{case.caseId}}"
							[checked]="case.selected" [value]="case.caseId" class="custom-control-input">

							<label for="case-{{case.caseId}}" class="custom-control-label"></label>
						</div>
					</td>
					<td>{{case.caseId}}</td>
					<td>{{case.name}}</td>
					<td>
						<button class="btn-circle mt-2" [title]="tag.name"
							*ngFor="let tag of case.clientTags; index as indexTags; last as lastTag;"
							[ngStyle] = "{backgroundColor: tag.color, borderColor: tag.color}">
					</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<div class="ZahoriZonaDcha">

		<div id="ContDe" class="ps ps--active-x ps--active-y disabled">
			<h5 class="drawer-heading">{{'main.process.trigger.execution'|translate}}</h5>
			<div class="drawer-section">

				<span>{{'main.process.trigger.caseToExecute'|translate}}</span>
				<div class="d-flex mb-3" id="caseList">
					<span *ngIf="!thereAreCasesSelected()" class="text-danger">{{'main.process.trigger.selectCaseToExecute'|translate}}</span>

          <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
            <mat-chip class="example-box" *ngFor="let process of dataService.processCases">
              <div *ngIf="process.selected" class="badge btn-zahoriPill">
                {{process.name}}
                <i class="fas fa-times-circle ml-1" (click)="deselectCase(process)"></i>
              </div>
            </mat-chip>
          </mat-chip-list>

				</div>

				<form class="">
					<div class="position-relative form-group">
						<label for="exampleEmail" class="">Nombre *</label>
						<input type="text" [(ngModel)]="execution.name" name="execution_name" class="form-control" />
					</div>

					<div class="position-relative form-group">
						<label for="exampleSelect" class="">Configuración *</label>
						<select *ngIf="dataService.processConfigurations.length > 0" [(ngModel)]="execution.configuration.configurationId" name="execution_configurationId"
							class="form-control">
							<option *ngFor="let configuration of dataService.processConfigurations"
								[value]="configuration.configurationId">
								{{configuration.name}}
							</option>
						</select>
						<div *ngIf="dataService.processConfigurations.length == 0">
							<span class="text-danger"><strong>{{'main.process.trigger.noCaseYet'|translate}}</strong></span><span>{{'main.process.trigger.createOne'|translate}}
								<a routerLink="../configurator" routerLinkActive="linkActive"><strong>{{'main.process.trigger.here'|translate}}</strong></a>
							</span>
						</div>

					</div>

					<div class="position-relative form-group" *ngIf="dataService.processSelected.processType.name == 'BROWSER'">
						<label for="exampleCheckbox" class="">{{'main.process.trigger.browsers'|translate}} *</label>
						<div>
							<ng-template ngFor let-browser [ngForOf]="browsers" let-isLast="lastBrowser">
								<div *ngIf="browser.browserName !== 'NULLBROWSER'" class="custom-checkbox custom-control custom-control-inline">
									<input type="checkbox" [attr.id]="browser.browserName" class="custom-control-input"
										[value]="browser.browserName" name="browser_{{browser.browserName}}" [(ngModel)]="browser.selected" [checked]="browser.selected" />
									<label class="custom-control-label" [attr.for]="browser.browserName">
										<i title="{{browser.browserName}}"
											class="mr-1 fab fa fa-{{browser.browserName}}"></i>
									</label>
								</div>
							</ng-template>
						</div>
					</div>

					<div class="position-relative form-group">
						<div class="d-flex">
							<span>{{'main.process.trigger.periodic'|translate}}</span>
							<div class="ml-2 custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="customSwitch1"
									(change)="enablePeriodicExecution($event)">
								<label class="custom-control-label " for="customSwitch1"></label>
							</div>
						</div>
						<div class="d-flex mt-3" *ngIf="periodicExecutionEnabled">
							<div class="position-relative form-group">
								<label for="exampleTime"></label>
								<input name="time" id="exampleTime" placeholder="{{'main.process.trigger.time'|translate}}" type="time"
									class="form-control">
							</div>
							<div class="mt-4 pt-3 ml-3 d-flex">
								<div class="custom-checkbox custom-control  mr-2">
									<input type="checkbox" id="DayCheckbox1" class="custom-control-input">
									<label class="custom-control-label" for="DayCheckbox1">L</label>
								</div>
								<div class="custom-checkbox custom-control mr-2">
									<input type="checkbox" id="DayCheckbox2" class="custom-control-input">
									<label class="custom-control-label" for="DayCheckbox2">M</label>
								</div>

								<div class="custom-checkbox custom-control mr-2">
									<input type="checkbox" id="DayCheckbox3" class="custom-control-input">
									<label class="custom-control-label" for="DayCheckbox3">X</label>
								</div>

								<div class="custom-checkbox custom-control mr-2">
									<input type="checkbox" id="DayCheckbox4" class="custom-control-input">
									<label class="custom-control-label" for="DayCheckbox4">J</label>
								</div>

								<div class="custom-checkbox custom-control mr-2">
									<input type="checkbox" id="DayCheckbox5" class="custom-control-input">
									<label class="custom-control-label" for="DayCheckbox5">V</label>
								</div>
							</div>
						</div>
					</div>

					<div class="text-center">
						<button class="btn-wide btn-icon btn btn-zahoriV btn-sm"
							[title]="invalidForm() ? 'Rellena los campos obligatorios' : ''"
							[disabled]="invalidForm()"
							(click)="createExecution()">{{'main.process.trigger.create'|translate}}</button>
					</div>

					<span *ngIf="loading">
						<div class="text-center mt-2">
							<span>{{'main.process.trigger.creatingExecution'|translate}}</span>
							<span class="spinner-border spinner-border-sm text-primary ml-2" role="status"></span>
						</div>
					</span>

					<span *ngIf="created">
						<div class="text-center mt-2">
							<div>
								<span>{{'main.process.trigger.executionCreated'|translate}} <i class="ml-2 fas fa-check text-success" aria-hidden="true"></i></span>
							</div>
							<div>
								<span>{{'main.process.trigger.canYouSeeIn'|translate}}
									<a routerLink="../executions" routerLinkActive="linkActive"><strong>{{'main.process.trigger.lastExecutions'|translate}} </strong></a>
								</span>
							</div>
						</div>
					</span>

					<span *ngIf="error != ''">
						<div class="text-center mt-2">
							<div>
								<span>{{'main.process.trigger.ErrorOnCreateExecution'|translate}} <i class="ml-2 fas fa-times text-danger" aria-hidden="true"></i></span>
							</div>
							<div>
								<span>{{error}}</span>
							</div>
						</div>
					</span>

				</form>
			</div>

		</div>

	</div>
</div>
