<div class="app-container bodyIntAdm">

    <div class="app-header">
        <div class="app-header__content header-shadow bg-green-zah">
            <div class="app-header-left ml-4 pl-2">Administrador</div>
            <div class="app-header-right">
            </div>
        </div>
    </div>

    <div class="app-main">
        <div class="app-main__outer">
            <div class="app-main__inner2col">
                <div class="ZahoriZonaIzda">
                    <app-admin-menu></app-admin-menu>
                </div>
                <div class="ZahoricontentDcha wrapper">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

</div>