<banner [banner]="banner" (click)="closeBanner()"></banner>

<div class="sidebarZahoricontent">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>{{'main.admin.tms.title'|translate}}</div>
            </div>
        </div>
    </div>

    <div class="row mt-3" *ngIf="clientTestRepositories.length == 0">
        <div class="col-11 text-center mt-3">
            {{'main.admin.tms.noRepo'|translate}}
        </div>
    </div>

    <ng-container *ngIf="clientTestRepositories.length > 0">

        <!-- Headers -->
        <div class="row">
            <div class="col-1">
                <h6>{{'main.admin.tms.active'|translate}}</h6>
            </div>
            <div class="col-2">
                <h6>{{'main.admin.tms.type'|translate}}</h6>
            </div>
            <div class="col-2">
                <h6>{{'main.admin.tms.name'|translate}}</h6>
            </div>
            <div class="col-2">
                <h6>{{'main.admin.tms.url'|translate}}</h6>
            </div>
            <div class="col-2">
                <h6>{{'main.admin.tms.credentials'|translate}}</h6>
            </div>
            <div class="col-1">
                <h6><!-- {{'main.admin.tms.password'|translate}} --></h6>
            </div>
            <div class="col-2">
                <h6></h6>
            </div>
        </div>

        <div *ngFor="let clientTestRepo of clientTestRepositories; let i = index" class="row mb-2">

            <!-- Active -->
            <div class="col-1 mt-2 custom-control custom-switch">
                <input [(ngModel)]="clientTestRepo.active" type="checkbox"
                    id="active-{{clientTestRepo.repoInstanceId}}" class="custom-control-input"
                    (change)="activateRepository(clientTestRepo, $event)"
                    >
                <label for="active-{{clientTestRepo.repoInstanceId}}" class="custom-control-label"></label>
            </div>

            <!-- Type -->
            <div class="col-2 mt-2" *ngIf="clientTestRepo.repoInstanceId > 0">
                <span>
                    <strong>{{clientTestRepo.testRepository?.type}}</strong>
                </span>
            </div>
            <div class="col-2" *ngIf="!clientTestRepo.repoInstanceId || clientTestRepo.repoInstanceId == 0">
                <select name="testRepoId" id="{{'repoInstanceId-' + clientTestRepo.repoInstanceId}}"
                    [(ngModel)]="clientTestRepo.testRepository.testRepoId" class="form-control"
                    (change)="selectTestRepository($event, clientTestRepo)">
                    <option [value]="testRepository.testRepoId"
                        *ngFor="let testRepository of testRepositories">
                        {{testRepository.type}}
                    </option>
                </select>
            </div>

            <!-- Name -->
            <div class="col-2">
                <input name="name" id="{{'name-'+clientTestRepo.repoInstanceId}}"
                    [(ngModel)]="clientTestRepo.name" type="text" class="form-control"
                    placeholder="{{'main.admin.tms.name'|translate}}"
                    title="{{'main.admin.tms.name'|translate}}"
                    >
            </div>

            <!-- Url -->
            <div class="col-2">
                <input name="url" id="{{'url-'+clientTestRepo.repoInstanceId}}"
                    [(ngModel)]="clientTestRepo.url" type="text" class="form-control"
                    [disabled]="clientTestRepo.testRepository?.type == this.XRAY_CLOUD"
                    [placeholder]="clientTestRepo.testRepository?.type == this.XRAY_CLOUD ? '' : ('main.admin.tms.url'|translate)"
                >
            </div>

            <!-- User -->
            <div class="col-2">
                <input name="user" id="{{'user-'+clientTestRepo.repoInstanceId}}"
                    [(ngModel)]="clientTestRepo.user" type="text" class="form-control"
                    [disabled]="clientTestRepo.testRepository?.type == this.TEST_LINK"
                    [placeholder]="
                        clientTestRepo.testRepository?.type == this.TEST_LINK ? '' :
                        clientTestRepo.testRepository?.type == this.XRAY_CLOUD ? ('main.admin.tms.clientid'|translate) : ('main.admin.tms.user'|translate)"
                    [title]="
                        clientTestRepo.testRepository?.type == this.XRAY_CLOUD ? ('main.admin.tms.clientid'|translate) : ('main.admin.tms.user'|translate)"
                    >
            </div>

            <!-- Pass -->
            <div class="col-1">
                <input name="password" id="{{'password-' + clientTestRepo.repoInstanceId}}"
                    [(ngModel)]="clientTestRepo.password" type="password" class="form-control"
                    [placeholder]="
                        clientTestRepo.repoInstanceId > 0 ? '**********' :
                        clientTestRepo.testRepository?.type == this.TEST_LINK ? ('main.admin.tms.apikey'|translate) : 
                        clientTestRepo.testRepository?.type == this.XRAY_SERVER ? ('main.admin.tms.token'|translate) : 
                        clientTestRepo.testRepository?.type == this.XRAY_CLOUD ? ('main.admin.tms.clientsecret'|translate) : ('main.admin.tms.password'|translate)"
                    [title]="
                        clientTestRepo.testRepository?.type == this.TEST_LINK ? ('main.admin.tms.apikey'|translate) : 
                        clientTestRepo.testRepository?.type == this.XRAY_SERVER ? ('main.admin.tms.token'|translate) : 
                        clientTestRepo.testRepository?.type == this.XRAY_CLOUD ? ('main.admin.tms.clientsecret'|translate)  : ('main.admin.tms.password'|translate)"
                >
            </div>

            <!-- Buttons -->
            <div class="col-2 mt-1">
                <!-- Save -->
                <button class="btn-wide mb-2 mr-2 btn-icon btn btn-zahoriV btn-sm mr-2" (click)="save(clientTestRepo)"
                    title="{{'main.admin.tms.save.action'|translate}}">
                    <i class="fas fa-save" aria-hidden="true"></i>
                </button>
                
                <!-- Delete -->
                <button class="btn-wide mb-2 mr-2 btn-icon btn btn-zahoriAz btn-sm" (click)="delete(clientTestRepo)"
                    title="{{'main.admin.tms.remove'|translate}}">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                </button>
            </div>
        </div>

    </ng-container>

    <!-- Add button -->
    <div class="row mt-3">
        <div class="col-11 text-center mt-3">
            <button class="btn-wide mb-4 btn-icon btn btn-zahoriV btn-sm sidebarGreyCollapse"
                (click)="addNewTestRepository()">
                {{'main.admin.tms.add'|translate}}
            </button>
        </div>
    </div>

</div>