/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number] {
  text-align:center;
}

banner {
  margin-top: -25px;
}

.custom-switch {
  padding-left: 3.25rem;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
  padding-right: 0px;
}