<style>
    .error{
        border-color: rgb(255, 72, 0);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255, 81, 0, 0.966);
    outline: 0 none;
    }
</style>


    <div class="row mt-2">
        <div class="col-4">
            <input #textInputId
            [class.error] = "(name.invalid ) && submitted"
            ngModel name="name"
            #name="ngModel"
            id="name"
            placeholder="{{'main.process.processAdmin.tags.tag.IntroduceTagName'|translate}}"
            type="text"
            class="form-control"
            [(ngModel)] = "tag.name"
            required>
        </div>
        <div class="col-2">
            <input ejs-colorpicker type="color"
            ngModel name="color"
             id="colorpicker"
             size = 2
             class="form-control"
             [(ngModel)] = "tag.color"
             list="listacoloresperfil"
             />
        </div>

        <a *ngIf= "!isNew(tag); else newEnv">
            <i class="fas fa-save mr-2" title = "{{'main.process.processAdmin.tags.tag.edit'|translate}}" style="cursor: pointer;" (click) = "updateTag(tag)"></i>
            <i class="fas fa-times mt-2" title = "{{'main.process.processAdmin.tags.tag.remove'|translate}}" style="cursor: pointer;" (click) = deleteTag(tag)></i>
        </a>

        <ng-template #newEnv>
            <a>
                <i class="fas fa-save mr-2" title = "{{'main.process.processAdmin.tags.tag.save'|translate}}" style="cursor: pointer;" (click) = "createTag(tag); textInputId.value='';"></i>
                <i class="fas fa-times mt-2" title = "{{'main.process.processAdmin.tags.tag.remove'|translate}}" style="cursor: pointer;" (click) = "deleteFromArray(tag)"></i>
            </a>
        </ng-template>
    </div>

    <div class="row mt-1">
    <div class="col-4">
        <div  *ngIf="name.invalid && submitted" class="alert">
          {{'main.process.processAdmin.tags.tag.obligatoryField'|translate}}
        </div>
    </div>

</div>


<datalist id="listacoloresperfil">
    <option value="#e8e8e8"><!-- Azul claro -->
    <option value="#b9b9b9"><!-- Gris -->
    <option value="#ffff00"><!-- amarillo -->
    <option value="#6eeb81"><!-- amarillo claro -->
    <option value="#73e712"><!-- verde -->
    <option value="#ffc25b"><!--  -->
    <option value="#ff8a8a"><!-- Rojo claro -->
    <option value="#41a751"><!--  -->
    <option value="#03a91d"><!--  -->
    <option value="#fbaa20"><!-- naranja -->
    <option value="#f2b7fe"><!-- rosaceo -->
    <option value="#eb8aff"><!--  -->
    <option value="#cfa4d8"><!--  -->
    <option value="#c5deff"><!--  -->
    <option value="#61a5ff">
</datalist>
