<div class="app-container app-theme-white body-tabs-shadow">
  <div class="app-container">
    <div class="h-100">
      <div class="h-100 no-gutters row">
        <div class="d-none d-lg-block col-lg-4">
          <div class="slider-light">
            <div class="slick-slider">
              <div>
                <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark"
                     tabindex="-1">
                  <div class="slide-img-bg"
                       style="background-image: url('assets/images/loginImg/login1.jpg');"></div>
                  <div class="slider-content">
                    <h3>{{'login.slide1.title' | translate}}</h3>
                    <p>{{'login.slide1.text' | translate}}</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark"
                     tabindex="-1">
                  <div class="slide-img-bg"
                       style="background-image: url('assets/images/loginImg/login2.jpg');"></div>
                  <div class="slider-content">
                    <h3>{{'login.slide2.title' | translate}}</h3>
                    <p>{{'login.slide2.text' | translate}}</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark"
                     tabindex="-1">
                  <div class="slide-img-bg"
                       style="background-image: url('assets/images/loginImg/login3.jpg');"></div>
                  <div class="slider-content">
                    <h3>{{'login.slide3.title' | translate}}</h3>
                    <p>{{'login.slide3.text' | translate}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
          <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
            <div class="app-logo"><img alt="Zahorí 0.9 202011051320" src="assets/images/LOGOz.png" /></div>
            <h4 class="mb-0">
              <span class="d-block">{{'signup.welcome' | translate}}</span>
              <span>{{'signup.pleaseRegister' | translate}}</span>
            </h4>
              <form [formGroup]="signupForm" (submit)="signup()">
                <div class="form-row">
                  <div class="col-md-6"><!-- Usuario -->
                    <div class="position-relative form-group">
                      <label for="username" class="">{{'signup.user' | translate}}</label>
                      <input id="username" placeholder="{{'signup.userHolder' | translate}}" type="text" class="form-control" formControlName="username">
                    </div>
                    <div *ngIf="submitted" class="ml-2 text-danger">
                      <div *ngIf="signupForm.get('username').hasError('required')">{{'formError.empty' | translate}}</div>
                      <div *ngIf="signupForm.get('username').hasError('minlength')">{{'formError.minLength' | translate:{'characters':4} }}</div>
                    </div>
                  </div>
                  <div class="col-md-6"><!-- blank -->
                  </div>
                  <div class="col-md-6"><!-- password -->
                    <div class="position-relative form-group">
                      <label for="password" class="">{{'signup.password' | translate}}</label>
                      <input name="password" id="password"
                             placeholder="{{'signup.passwordHolder' | translate}}" type="password" class="form-control"
                             formControlName="password">
                    </div>
                    <div *ngIf="submitted" class="ml-2 text-danger">
                      <div *ngIf="signupForm.get('password').hasError('required')">{{'formError.empty' | translate}}</div>
                      <div *ngIf="signupForm.get('password').hasError('minlength')">{{'formError.minLength' | translate:{'characters':8} }}</div>
                      <div *ngIf="signupForm.get('password').hasError('pattern')">{{'formError.passwordConditions.text' | translate}}
                        <ul>
                          <li>{{'formError.passwordConditions.condition1' | translate}}</li>
                          <li>{{'formError.passwordConditions.condition2' | translate}}</li>
                          <li>{{'formError.passwordConditions.condition3' | translate}}</li>
                          <li>{{'formError.passwordConditions.condition4' | translate}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6"><!-- repPassword -->
                    <div class="position-relative form-group">
                      <label for="reppassword" class="">{{'signup.repeatPassword' | translate}}</label>
                      <input name="reppassword" id="reppassword"
                             placeholder="{{'signup.repeatPasswordHolder' | translate}}" type="password" class="form-control"
                             formControlName="repPassword">
                    </div>
                    <div *ngIf="submitted" class="ml-2 text-danger">
                      <div *ngIf="signupForm.get('repPassword').hasError('required')">{{'formError.empty' | translate}}</div>
                      <div *ngIf="signupForm.get('repPassword').hasError('minlength')">{{'formError.minLength' | translate:{'characters':8} }}</div>
                      <div *ngIf="signupForm.get('repPassword').hasError('passwordValidator')">{{'formError.misMatchPassword' | translate}}</div>
                    </div>
                  </div>

                </div>
                <div class="divider row"></div>
                <div class="d-flex align-items-center">
                  <div class="ml-auto">
                    <button  class="btn btn-primary btn-lg button-sep" (click)="goBack()">{{'signup.return' | translate}}</button>
                    <button  class="btn btn-primary btn-lg">{{'signup.signup' | translate}}</button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

