<!-- NOTIFICATIONS -->
<div class="app-drawer-wrapper " [ngClass]="dataService.showNotificationsWindow ? 'drawer-open' : ''">
    <div class="drawer-nav-btn">
        <button (click)="closeWindow()" type="button" class="hamburger hamburger--elastic is-active">
            <span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
    </div>
    <div class="drawer-content-wrapper">
        <div class="scrollbar-container">
            <h3 class="drawer-heading">NOTIFICACIONES</h3>
            <div class="drawer-section">
                <div class="dropdown-menu-header mb-0">
                    <div class="dropdown-menu-header-inner bg-blue-zah">
                        <div class="menu-header-image opacity-1"></div>
                        <div class="menu-header-content text-dark">
                            <h6 class="menu-header-subtitle">Tienes <b>21</b> mensajes sin leer</h6>
                        </div>
                    </div>
                </div>
                <ul class="tabs-animated-shadow tabs-animated nav nav-justified tabs-shadow-bordered p-3">
                    <li class="nav-item">
                        <a role="tab" class="nav-link active" data-toggle="tab" href="#tab-messages-header">
                            <span>Pruebas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="tab" class="nav-link" data-toggle="tab" href="#tab-events-header">
                            <span>Procesos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="tab" class="nav-link" data-toggle="tab" href="#tab-errors-header">
                            <span>Errores</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-messages-header" role="tabpanel">
                        <div class="scroll-area-x">
                            <div class="scrollbar-container">
                                <div class="p-3">
                                    <div class="notifications-box">
                                        <div
                                            class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--one-column">
                                            <div class="vertical-timeline-item dot-danger vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                                    <div class="vertical-timeline-element-content bounce-in">
                                                        <h4 class="timeline-title">Prueba 1</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vertical-timeline-item dot-warning vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                                    <div class="vertical-timeline-element-content bounce-in">
                                                        <p>Prueba 2, a las <span class="text-success">15:00 PM</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vertical-timeline-item dot-success vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                                    <div class="vertical-timeline-element-content bounce-in">
                                                        <h4 class="timeline-title">Otra prueba
                                                            <span class="badge badge-danger ml-2">PELIGRO</span>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vertical-timeline-item dot-primary vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                                    <div class="vertical-timeline-element-content bounce-in">
                                                        <h4 class="timeline-title">Más puebas

                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vertical-timeline-item dot-info vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                                    <div class="vertical-timeline-element-content bounce-in">
                                                        <h4 class="timeline-title">Otra más</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vertical-timeline-item dot-danger vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                                    <div class="vertical-timeline-element-content bounce-in">
                                                        <h4 class="timeline-title">Prueba 2000</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vertical-timeline-item dot-warning vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                                    <div class="vertical-timeline-element-content bounce-in">
                                                        <p>Prueba 3000. a las <span class="text-success">15:00 PM</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="vertical-timeline-item dot-dark vertical-timeline-element">
                                                <div><span class="vertical-timeline-element-icon bounce-in"></span>
                                                    <div class="vertical-timeline-element-content bounce-in">
                                                        <h4 class="timeline-title">No más pruebas</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-events-header" role="tabpanel">
                        <div class="scroll-area-lg">
                            <div class="scrollbar-container">
                                <div class="p-3">
                                    <div
                                        class="vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                                        class="badge badge-dot badge-dot-xl badge-success"> </i></span>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <h4 class="timeline-title">Proceso Automático 1</h4>
                                                    <p>Realizado hoy a las <a href="javascript:void(0);">12:00 PM</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                                        class="badge badge-dot badge-dot-xl badge-warning"> </i></span>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <p>Otro proceso a las <b class="text-danger">12:00 PM</b></p>
                                                    <p>Y también a las<span class="text-success">15:00 PM</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                                        class="badge badge-dot badge-dot-xl badge-danger"> </i></span>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <h4 class="timeline-title">Proceso Automático 2</h4>
                                                    <p>Lorem ipsum dolor sit amit,consectetur eiusmdd tempor incididunt
                                                        ut labore et dolore magna elit enim at minim veniam quis nostrud
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                                        class="badge badge-dot badge-dot-xl badge-primary"> </i></span>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <h4 class="timeline-title text-success">Proceso Automático 3</h4>
                                                    <p>Lorem ipsum dolor sit amit,consectetur elit enim at minim veniam
                                                        quis nostrud</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                                        class="badge badge-dot badge-dot-xl badge-success"> </i></span>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <h4 class="timeline-title">Proceso Automático 4</h4>
                                                    <p>Lorem ipsum dolor sic amet, today at <a
                                                            href="javascript:void(0);">12:00 PM</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                                        class="badge badge-dot badge-dot-xl badge-warning"> </i></span>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <p>Otra vez, a las <b class="text-danger">12:00 PM</b></p>
                                                    <p>Y una más, a las <span class="text-success">15:00 PM</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                                        class="badge badge-dot badge-dot-xl badge-danger"> </i></span>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <h4 class="timeline-title">Proceso Automático 60</h4>
                                                    <p>Lorem ipsum dolor sit amit,consectetur eiusmdd tempor incididunt
                                                        ut labore et dolore magna elit enim at minim veniam quis nostrud
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vertical-timeline-item vertical-timeline-element">
                                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                                        class="badge badge-dot badge-dot-xl badge-primary"> </i></span>
                                                <div class="vertical-timeline-element-content bounce-in">
                                                    <h4 class="timeline-title text-success">Se acabó</h4>
                                                    <p>Lorem ipsum dolor sit amit,consectetur elit enim at minim veniam
                                                        quis nostrud</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-errors-header" role="tabpanel">
                        <div class="scroll-area-x">
                            <div class="scrollbar-container">
                                <div class="no-results pt-3 pb-0">
                                    <div class="swal2-icon swal2-success swal2-animate-success-icon">
                                        <div class="swal2-success-circular-line-left"
                                            style="background-color: rgb(255, 255, 255);"></div>
                                        <span class="swal2-success-line-tip"></span>
                                        <span class="swal2-success-line-long"></span>
                                        <div class="swal2-success-ring"></div>
                                        <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);">
                                        </div>
                                        <div class="swal2-success-circular-line-right"
                                            style="background-color: rgb(255, 255, 255);"></div>
                                    </div>
                                    <div class="results-subtitle">¡Todo correcto!</div>
                                    <div class="results-title">¡No hay errores de sistema!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item-divider nav-item"></li>
                    <li class="nav-item-btn text-center nav-item">
                        <button class="btn-shadow btn-wide btn-pill btn btn-zahoriV btn-sm">Ver últimos cambios</button>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="app-drawer-overlay animated fadeIn " [ngClass]="dataService.showNotificationsWindow ? '' : 'd-none'"></div>
<!-- END NOTIFICATIONS -->
