<banner [banner]="banner" (click)="closeBanner()"></banner>

<div class="sidebarZahoricontent">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>{{'main.process.processAdmin.tags.title'|translate}}</div>
            </div>
        </div>
    </div>

    <div class="col-12" *ngIf="tags.length == 0 && myTags.length == 0">
        No hay etiquetas definidas.
    </div>

    <div *ngIf="tags.length > 0 || myTags.length > 0" class="row mt-3">
        <div class="col-4">
            <label for="name" class="">{{'main.process.processAdmin.tags.name'|translate}}</label>
        </div>
        <div class="col-6">
            <label for="color" class="">{{'main.process.processAdmin.tags.colour'|translate}}</label>
        </div>

        <tag id="tagContainter" *ngFor="let tag of tags" [tag]="tag" (updated)="updateTag($event)"
            (deleted)="deleteTag($event)" class="col-12"></tag>
        <tag id="newTags" *ngFor="let newTag of myTags" [tag]="newTag" (created)="createTag($event)"
            (erased)="deleteFromArray($event)" class="col-12"></tag>
    </div>

    <div class="col-8 text-center mt-3">
        <button class="btn-wide mt-2 btn-icon btn btn-zahoriV btn-sm" (click)="newTag()">{{'main.process.processAdmin.tags.addTag'|translate}}</button>
    </div>

</div>
