<!doctype html>
<html th:attr="lang=${locale}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title th:text="#{i18n.forgot-password.email.subject}"></title>
</head>
<body>
<p th:text="#{i18n.forgot-password.email.content.greeting}"></p>
<p th:text="#{i18n.forgot-password.email.content.line1}"></p>
<p><a th:href="${resetPasswordLink}" target="_blank" th:text="#{i18n.forgot-password.email.content.link}"></a></p>
<p th:text="#{i18n.forgot-password.email.content.line2}"></p>
<p th:text="#{i18n.forgot-password.email.content.thanks}"></p>
<p th:text="#{i18n.forgot-password.email.content.sign}"></p>
</body>
</html>
