<div class="sidebarZahoricontent">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>Gestión de Grupos</div>
            </div>
        </div>
    </div>
    
    <div class="row ml-1 mb-3  border-bottom">
        <div class="col-4">
            <h6>Nombre</h6>
        </div>
        <div class="col-3 text-center">
            <h6>Usuarios</h6>
        </div>
        <div class="col-3 text-center">
            <h6>Procesos</h6>
        </div>
        <div class="col-1">
            <h6></h6>
        </div>
    </div>

    <div class="row ml-1 mb-2">
        <div class="col-4 d-flex">Automatización</div>
        <div class="col-3 text-center">4</div>
        <div class="col-3 text-center">7</div>
        <div class="col-1 d-flex">
            <a href="#">
                <i class="fas fa-save mr-2"></i>
            </a>
            <a href="#">
                <i class="fas fa-pen-square mr-2"></i>
            </a>
        </div>
    </div>
    
    <div class="row ml-1 mb-2">
        <div class="col-4 d-flex">Automatización</div>
        <div class="col-3 text-center">4</div>
        <div class="col-3 text-center">7</div>
        <div class="col-1 d-flex">
            <a href="#">
                <i class="fas fa-save mr-2"></i>
            </a>
            <a href="#">
                <i class="fas fa-pen-square mr-2"></i>
            </a>
        </div>
    </div>

    <div class="row ml-1 mb-2">
        <div class="col-4 d-flex">Automatización</div>
        <div class="col-3 text-center">4</div>
        <div class="col-3 text-center">7</div>
        <div class="col-1 d-flex">
            <a href="#">
                <i class="fas fa-save mr-2"></i>
            </a>
            <a href="#">
                <i class="fas fa-pen-square mr-2"></i>
            </a>
        </div>
    </div>

    <div class="row mt-3 pl-1">
        <div class="col-11 text-center mt-3">
            <button class="btn-wide mt-2 btn-icon btn btn-zahoriV btn-sm sidebarGreyCollapse">
                Añadir
            </button>
        </div>
    </div>
</div>

<div id="sidebarGrey" class="sidebarZahoriGrey  active">
    <div class="drawer-content-wrapperGrey ps ps--active-x ps--active-y">

        <div class="drawer-section">

            <h4>Editar/Crear grupo</h4>
            <div class="row mt-3">
                <div class="col-10">
                    <label for="exampleEmail" class="">Nombre</label>
                    <input name="" id="" placeholder="" type="text" class="form-control">
                </div>
                <div class="col-2 text-center">
                    <span>Admin</span>
                    <div class="custom-checkbox custom-control">
                        <input type="checkbox" id="exampleCustomCheckbox" class="custom-control-input">
                        <label class="custom-control-label mt-3 ml-2" for="exampleCustomCheckbox"></label>
                    </div>
                </div>
            </div>

            <div class="todo-box mt-3">
                <span>Vincular Usuarios</span>
                <ul class="mt-2 todo-list-wrapper list-group list-group-flush">

                    <li class="list-group-item pl-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-2">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" id="exampleCustomCheckbox2444"
                                            class="custom-control-input">
                                        <label class="custom-control-label"
                                            for="exampleCustomCheckbox2444">&nbsp;</label>
                                    </div>
                                </div>
                                <div class="widget-content-left mr-3">
                                    <div class="widget-content-left">
                                        <img width="42" class="rounded" src="assets/images/avatars/1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">José Turégano</div>
                                    <div class="widget-subheading">jose.turegano@panel.es</div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item pl-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-2">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" id="exampleCustomCheckbox2446"
                                            class="custom-control-input">
                                        <label class="custom-control-label"
                                            for="exampleCustomCheckbox2446">&nbsp;</label>
                                    </div>
                                </div>
                                <div class="widget-content-left mr-3">
                                    <div class="widget-content-left">
                                        <img width="42" class="rounded" src="assets/images/avatars/1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">José Turégano</div>
                                    <div class="widget-subheading">jose.turegano@panel.es</div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item pl-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-2">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" id="exampleCustomCheckbox2447"
                                            class="custom-control-input">
                                        <label class="custom-control-label"
                                            for="exampleCustomCheckbox2447">&nbsp;</label>
                                    </div>
                                </div>
                                <div class="widget-content-left mr-3">
                                    <div class="widget-content-left">
                                        <img width="42" class="rounded" src="assets/images/avatars/1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="widget-content-left">
                                    <div class="widget-heading">José Turégano</div>
                                    <div class="widget-subheading">jose.turegano@panel.es</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="todo-box mt-3">
                <span>Vincular Procesos</span>
                <div class="d-flex mt-2 pt-3 pb-2  border-top border-bottom bg-white">
                    <div class="col-1"></div>
                    <div class="col-6"><strong>Nombre</strong></div>
                    <div class="col-4 text-center"><strong>Tipo</strong></div>
                </div>
                <div class="d-flex pt-2 pb-2 bg-white">
                    <div class="col-1">
                        <div class="custom-checkbox custom-control">
                            <input type="checkbox" id="exampleCustomCheckbox2450" class="custom-control-input">
                            <label class="custom-control-label" for="exampleCustomCheckbox2450">&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-6">Automatización</div>
                    <div class="col-4 text-center">SQA</div>
                </div>
                <div class="d-flex pt-2 pb-2 bg-white">
                    <div class="col-1">
                        <div class="custom-checkbox custom-control">
                            <input type="checkbox" id="exampleCustomCheckbox2451" class="custom-control-input">
                            <label class="custom-control-label" for="exampleCustomCheckbox2451">&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-6">Automatización</div>
                    <div class="col-4 text-center">SQA</div>
                </div>
                <div class="d-flex pt-2 pb-2 bg-white">
                    <div class="col-1">
                        <div class="custom-checkbox custom-control">
                            <input type="checkbox" id="exampleCustomCheckbox2452" class="custom-control-input">
                            <label class="custom-control-label" for="exampleCustomCheckbox2452">&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-6">Automatización</div>
                    <div class="col-4 text-center">SQA</div>
                </div>

            </div>
        </div>

        <div class="text-center">
            <button class="btn-wide mb-5 btn-icon btn btn-zahoriV btn-sm">
                Guardar
            </button>
        </div>
    </div>

</div>